{% extends "SpicySiteBundle::layout_admin.html.twig" %}

{% block body %}
{{ parent() }}
    <a href="{{ path('spicy_admin_home_video') }}" class="btn">
        <i class="icon-chevron-left"></i>
        Retour à la video
    </a>
    <br/><br/>    
    <h3>Ajouter une vidéo</h3>
    
    {{ form_start(form, {'method': 'POST'}) }}
        
        <div class="label">
            {{ form_label(form.url) }}
            {{ form_errors(form.url) }}
        </div>
        <div class="input">
            {{ form_widget(form.url) }}
        </div>
        
        <div class="button">
            <input type="submit" class="btn btn-primary" />
        </div>
    {{ form_end(form) }}
{% endblock%}
