{% extends "SpicySiteBundle::layout_admin.html.twig" %}

{% block body %}
{{ parent() }}
    <a href="{{ path('spicy_admin_home_video') }}" class="btn">
        <i class="icon-chevron-left"></i>
        Retour à la video
    </a>
    <br/><br/>    
    <h3>Ajouter une vidéo</h3>
    
    <form method="post" {{ form_enctype(form) }}>
        <div class="label">
            {{ form_label(form.titre) }}
            {{ form_errors(form.titre) }}
        </div>
        <div class="input">
            {{ form_widget(form.titre) }}
        </div>
        
        <div class="label">
            {{ form_label(form.url) }}
            {{ form_errors(form.url) }}
        </div>
        <div class="input">
            {{ form_widget(form.url) }}
        </div>
        
        <div class="label">
            {{ form_label(form.dateVideo) }}
            {{ form_errors(form.dateVideo) }}
        </div>
        <div class="input">
            {{ form_widget(form.dateVideo) }}
        </div>
        
        <div class="label">
            {{ form_label(form.etat) }}
            {{ form_errors(form.etat) }}
        </div>
        <div class="input">
            {{ form_widget(form.etat) }}
        </div>
        
        <div class="label">
            {{ form_label(form.onTop) }}
            {{ form_errors(form.onTop) }}
        </div>
        <div class="input">
            {{ form_widget(form.onTop) }}
        </div>
        
        <div class="label">
            {{ form_label(form.source) }}
            {{ form_errors(form.source) }}
        </div>
        <div class="input">
            {{ form_widget(form.source) }}
        </div>
        
        <div class="label">
            {{ form_label(form.tags_fb) }}
            {{ form_errors(form.tags_fb) }}
        </div>
        <div class="input">
            {{ form_widget(form.tags_fb) }}
        </div>
        
        <div class="label">
            {{ form_label(form.tags_twitter) }}
            {{ form_errors(form.tags_twitter) }}
        </div>
        <div class="input">
            {{ form_widget(form.tags_twitter) }}
        </div>
        
        <div class="label">
            {{ form_label(form.hashtags) }}
            {{ form_errors(form.hashtags) }}
        </div>
        <div class="input">
            {{ form_widget(form.hashtags) }}
            <a href="#" data-reveal-id="modal_hashtag" id="modal_new_hashtag">Cr&eacute;e un hashtag</a>
            <div class="loading"></div>
        </div>
        
        <div class="label">
            {{ form_label(form.description) }}
            {{ form_errors(form.description) }}
        </div>
        <div class="input">
            {{ form_widget(form.description) }}
        </div>
        
        <div class="label">
            {{ form_label(form.artistes) }}
            {{ form_errors(form.artistes) }}
        </div>
        <div class="input">
            {{ form_widget(form.artistes) }}
        </div>
        
        <div class="label">
            {{ form_label(form.collaborateurs) }}
            {{ form_errors(form.collaborateurs) }}
        </div>
        <div class="input">
            {{ form_widget(form.collaborateurs) }}
            <a href="#" data-reveal-id="modal_hashtag" id="modal_new_collaborateur">Cr&eacute;e un collaborateur</a>
            <div class="loading"></div>
        </div>
        
        <div class="label">
            {{ form_label(form.genre_musicaux) }}
            {{ form_errors(form.genre_musicaux) }}
        </div>
        <div class="input">
            {{ form_widget(form.genre_musicaux) }}
        </div>
        
        <div class="label">
            {{ form_label(form.type_videos) }}
            {{ form_errors(form.type_videos) }}
        </div>
        <div class="input">
            {{ form_widget(form.type_videos) }}
        </div>
        <div class="button">
            <input type="submit" class="btn btn-primary" />
            {{ form_rest(form) }}
        </div>
    </form>
            
    <div id="modal_hashtag" class="reveal-modal">
        <div class="content"></div>
        <a class="close-reveal-modal">&#215;</a>
    </div>
{% endblock%}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript">
        $("#spicy_sitebundle_videotype_artistes,#spicy_sitebundle_videotype_hashtags,#spicy_sitebundle_videotype_collaborateurs").select2({
            width: '200px'
        });
        
        $(".loading").hide();
        $("#modal_new_hashtag").click(function(){ 
            $(".loading").show();
            $.ajax({
                type: "POST",
                url: "{{ path('admin_hashtag_new_modal')}}",
                cache: false,
                success: function(data){
                   $('#modal_hashtag .content').html(data);
                   $('#modal_hashtag').reveal();
                   $(".loading").hide();
                }
            });    
            return false;
        });
        $("#modal_new_collaborateur").click(function(){ 
            $(".loading").show();
            $.ajax({
                type: "POST",
                url: "{{ path('admin_collaborateur_new_modal')}}",
                cache: false,
                success: function(data){
                   $('#modal_hashtag .content').html(data);
                   $('#modal_hashtag').reveal();
                   $(".loading").hide();
                }
            });    
            return false;
        });
    </script>
{% endblock %}
