{% extends "SpicySiteBundle::layout_admin.html.twig" %}

{% block body %}   
    {{ parent() }}
    <p><a class="button dark" href="{{path('spicy_admin_home_video')}}"><span>Vidéo</span></a></p>
    <p><a class="button dark" href="{{ path('admin_add_video_youtube')}}"><span>Video youtube</span></span></a></p>
    <p><a class="button dark" href="{{ path('approval_video_youtube')}}"><span>Video Admin youtube</span></span></a></p>
    <p><a class="button dark" href="{{path('spicy_admin_home_artiste')}}"><span>Artiste</span></a></p>
    <p><a class="button dark" href="{{path('spicy_admin_home_genre_musical')}}"><span>Genre musical</span></a></p>
    <p><a class="button dark" href="{{path('spicy_admin_home_type_video')}}"><span>Type de video</span></a></p>
    <p><a class="button dark" href="{{path('approval')}}"><span>Video à appouver</span></a></p>
{%endblock%}