{% extends "SpicySiteBundle::layout.html.twig" %}

{% block title %}
    {{parent()}} - La musique des antilles et de la guyane. Tout mizik la!
    {% if page>1 %}
      Page {{page}}
    {% endif %}
{% endblock %}

{% block stylesheets %}    
    <meta name="google-site-verification" content="sGYi5z6Hzfo88twISFPkyXzxAQG6JmyphW0UITV9uic" />
    {{ parent() }}
    {% stylesheets filter='cssrewrite,?yui_css' output='css/compiled/home.css'
        '@SpicyRankingBundle/Resources/public/css/ranking.css'
        '@SpicySiteBundle/Resources/public/css/home.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    {{ parent() }}
    <div id="lastVideos" class="ribbon-slider-container">
        <div class="ribbon-slider">
            <ul >
                {% for video in videos %}
                    {% include "SpicySiteBundle:Site:video_slider.html.twig" %}        
                {% endfor %}
            </ul>
            <input type="hidden" class="slider-pause" value="10" />
            <input type="hidden" class="slider-speed" value="300" />
        </div>
        <a class="arrow arrow-left" href="#"></a>
        <a class="arrow arrow-right" href="#"></a>
    </div>

    <div id="searchBar_mini" class="wrapper">
        <div class="container">
                <img class="modal_open" src="{{asset('images/search/home_search_mini.png')}}"  alt="recherche" />
        </div>
    </div>

    <div id="lastVideos_mob" class="container">        
        <div class="column column-videos">
            <div class="content-block">
                <div class="block-title"><span>Top vidéos</span>
                </div>
                <div class="block-content">
                    <div class="featured-blog">
                        {% for video in videos %}  
                            {% include "SpicySiteBundle:Site:video_post.html.twig" %}
                        {% endfor %}                       
                    </div>
                </div>    
            </div>
        </div>
    </div>
    
    <div id="searchBar" class="container-block">
        <div class="container default">
            <img class="modal_open" src="{{asset('images/search/home_search.png')}}" alt="recherche" />
        </div>
    </div>

    
    <div id="search_modal" class="reveal-modal">
        <div id="searchBar_modal">
            <div class="input-group container">
                <input type="text" class="form-control" placeholder="Cherche ton artiste ou ta vidéo">
                <!-- <div class="input-group-append">
                    <button class="btn btn-secondary modal_connect" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </div> -->
                <div id="search_result" class="container" >
                    <div class="error_lenght">Tapez plus de 3 caractères</div>
                    <div class="search_loading">
                        <img class="loading_img" src="{{asset('images/search/loading.gif')}}"  alt="loading" />
                    </div>
                    <div class="results">
                        <h3>Artistes</h3>
                        <div class="artistResult"></div>
                    </div>
                    <div class="results">
                        <h3>Videos</h3>
                        <div class="videoResult"></div>
                    </div>
                    <div class="plus"><a class="plusLink" href="{{ path('mimizik_search_index') }}">Plus de résultats</a></div>
                </div>
            </div>


        </div>
        <a class="close-reveal-modal">&#215;</a>
    </div>


    <div id="espace_pub_home" class="container">
    </div>
    <div class="container" id="main_container" >
        <div class="column column-videos">
            <div class="content-block">
                <div class="block-title"><span>Vidéos récentes</span>
                </div>
                <div class="block-content">
                    <div class="featured-blog">
                        {% include "SpicySiteBundle:Site:indexSuite.html.twig" %}                       
                    </div>
                </div>    
            </div>
            <div>
                <div id="banstex468x60">
                    {#% include "SpicySiteBundle:Ads:468x60_banstex.html.twig" %#}
                </div>  
            </div>
        </div>
        <div class="column column-right">          
            <div class="content-block widget widget-social">
                <div class="block-title"><span>Social</span></div>
                <div class="block-content">		
                    <div class="social-widget tabs-container">
                        <div class="tabs">
                            <ul>					
                                <li class="current"><a href="#" title="Facebook" class="facebook a_tabs"></a></li>
                                <li><a href="#" title="Twitter" class="twitter a_tabs"></a></li>
                                <li><a href="#" title="YouTube" class="youtube a_tabs"></a></li>
                            </ul>
                        </div>	
                        <div class="clear"></div>
                        <div class="panes">
                            <div class="pane facebook" style="display: block;">
                                <script type="text/javascript">
                                    (function(d, s, id) {
                                        var js, fjs = d.getElementsByTagName(s)[0];
                                        if (d.getElementById(id)) return;
                                        js = d.createElement(s); js.id = id;
                                        js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&appId=729891760354276&version=v2.0";
                                        fjs.parentNode.insertBefore(js, fjs);
                                    }(document, 'script', 'facebook-jssdk'));
                                </script>
                                <div class="fb-like-box" data-href="http://www.facebook.com/mimizikcom" data-width="260" data-colorscheme="light" 
                                data-show-faces="true" data-header="false" data-stream="false" data-show-border="true"></div>
                            </div>
                            <div id="widget-tweets" class="pane twitter">
                                <a class="twitter-timeline" height="300" href="https://twitter.com/mimizikcom" data-widget-id="389191778881912833">Tweets de @mimizikcom</a>
                                <input type="hidden" value="10" class="tweets-number" />
                                <input type="hidden" value="mimizikcom" class="twitter-username" />
                            </div>
                            <div class="pane youtube">
                                <iframe style="overflow: hidden; height: 105px; width: 100%; border: 0;" src="http://www.youtube.com/subscribe_widget?p=mimizikcom" id="fr"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="content-block" id="last-ranking">
                <div class="block-title">
                    <span>Dernier classement</span>
                </div>
                <div class="block-content last">
                    
                </div>
            </div>
                           
            <div class="content-block">
                <div class="block-content" id="encart_droit">
                    {% include "SpicySiteBundle:Ads:encart_droit_adsense.html.twig" %}
                </div>
            </div>
                
            <div class="content-block">
                <div class="block-title">
                    <span>Rétro de la semaine</span>
                </div>
                <div class="block-content">
                    {{ render(controller("SpicySiteBundle:Site:retro"))}}
                </div>
            </div>
        </div>
        
    </div>
{% endblock %}
    
{% block javascripts %}
    {{parent()}}
    <script type="text/javascript" src="{{asset('js/jquery.ribbonSlider.js')}}" ></script>
    {% javascripts  filter='?yui_js' output='js/compiled/index.js'
        '@SpicySiteBundle/Resources/public/js/home.js'
        'js/service/searchService.js'
        'js/jquery.mousewheel.min.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}" ></script>
    {% endjavascripts %}
    <script type="text/javascript"> 
        $(document).ready(function(){ 
            var homeAjaxPath = "{{ path('spicy_site_homepage')}}ajax/";
            var num_entries = "{{videos|length-5}}";
            var page = "{{page-1}}";
            var homepath = "{{ path('spicy_site_homepage') }}";
            var artistSearchPath = "{{ path('mimizik_artist_search')}}";
            var videoSearchPath = "{{ path('mimizik_video_search')}}";
            var searchPath = "{{ path('mimizik_search_index') }}";

            initPagination(homeAjaxPath, num_entries, page);
            
            $.ajax({
                url: "{{ path('mimizik_ranking_last_show')}}",
                context: document.body
            })
            .done(function(html) {
                $('#last-ranking .last').html(html);
            });   
            
            $(".modal_open").click(function() {
                $('#search_modal').reveal();
                return false;
            });

            $('#searchBar_modal .search_loading').hide();
            $('#search_result').hide();
            var formControl = $('#searchBar_modal .form-control');
            formControl.attr("placeholder", "Cherche ton artiste ou ta vidéo");

            formControl.on('input', function(){
                var term = $(this).val();
                $('#search_result').show();
                $('#search_result .artistResult').html('');
                $('#search_result .videoResult').html('');

                if (term.length > 2) {
                    $('#search_result .plusLink').attr("href", searchPath + '/' + encodeURI(term));
                    searchService.getSearchArtists(artistSearchPath, homepath, encodeURI(term));
                    searchService.getSearchVideos(videoSearchPath, homepath, encodeURI(term));
                    $('#searchBar_modal .error_lenght').hide();
                } else {
                    $('#searchBar_modal .error_lenght').show();
                }
            });
        });
    </script>
    
    <script type="text/javascript">
        !function(d,s,id){
            var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
            if(!d.getElementById(id)){
                js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);
            }
        }(document,"script","twitter-wjs");
    </script>
{% endblock%}
