<h5>Chaque semaines retrouvez la vidéo rétro de la semaine. 
    Par rétro on entend un titre qui n'est pas récent. Cette video peur être de tous genres.
</h5><br/>
{% if video is defined %}
    
    <div class="image_retro" >
        <a title="{{video.getNomArtistes}} - {{video.titre}}" href="{{path('spicy_site_video_slug',{"id":video.id,"slug":video.slug})}}">
            <img alt="{{video.getNomArtistes}} - {{video.titre}}" src="http://img.youtube.com/vi/{{video.url}}/0.jpg" width="240" height="135" />
        </a>
        <div class="ribbon-caption">
            <a title="{{video.getNomArtistes}} - {{video.titre}}" class="ribbon-caption-title" href="{{path('spicy_site_video_slug',{"id":video.id,"slug":video.slug})}}">
                <span>
                    {% set nbletter=0%}
                    {% for artiste in video.artistes %} 
                        {% if nbletter<20 %}
                            {{artiste.libelle}}

                            {%set nbletter=nbletter+artiste.libelle|length%}

                            {% if loop.length==2 and loop.first and nbletter<20%}
                            &
                            {% elseif loop.length>2 and loop.revindex>2 and nbletter<20%}
                            ,
                            {% elseif loop.last==false and nbletter<20%}
                            &
                            {%endif%}
                        {%endif%}

                    {% else %}
                        <p>Inconnu</p>
                    {% endfor%}

                    - {{video.titre}}
                </span>
                <span class="ribbon-caption-background"></span>
            </a>
        </div>
    </div>
    <div class="description">{{video.description}}</div>
{%else%}
    pas de resultat
{%endif%}
