<li >
    <a title="{{video.getNomArtistes}} - {{video.titre}}" href="{{path('spicy_site_video_slug', {'id': video.id, 'slug': video.slug})}}">
        <img alt="{{video.getNomArtistes}} - {{video.titre}}" src="http://img.youtube.com/vi/{{video.url}}/0.jpg" border="0" width="240" height="135" />
    </a>
    <div class="ribbon-caption">
        <a title="{{video.getNomArtistes}} - {{video.titre}}" class="ribbon-caption-title" href="{{path('spicy_site_video_slug', {'id': video.id, 'slug': video.slug})}}">
            <span>
                {{ video.artistes|artistsName(20)|raw }} - {{video.titre}}
            </span>
            <span class="ribbon-caption-background"></span>
        </a>
    </div>
</li>
