{% extends "SpicySiteBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('css/admin.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{asset('css/pagination.css')}}" type="text/css" />
{% endblock %}

{% block body %}
    <a href="{{path('spicy_admin_home')}}"><< admin</a>
    <h3>Videos</h3>
    <a href="{{path('spicy_admin_add_video')}}">Ajouter une vidéo</a>
    {{ parent() }}
    <table border="1" class="data">
        <tr><th>Id</th><th>Titre</th><th>Etat</th><th colspan="2"></th></tr>
    {% for video in videos %}
            <tr>
                <td>{{video.id}}</td>
                <td>{{video.titre}}</td>
                <td>{{video.etat}}</td>
                <td><a href="{{path('spicy_admin_update_video', {'id': video.id})}}">Modifier</a></td>
                <td><a href="{{path('spicy_admin_delete_video',{'id':video.id})}}">Supprimer</a></td>
            </tr>
    {%else%}
            <tr colspan="5"><td>Pas de videos</td></tr>
    {%endfor%}
    </table>
    <div id="Pagination"></div>
{%endblock%}
    
    {% block javascripts %}
    {{parent()}}
    
    <script type="text/javascript">
        function initPagination() {
            var num_entries = {{videos|length-5}}
            // Create content inside pagination element
            $("#Pagination").pagination(num_entries, {
                //callback: pageselectCallback,
                items_per_page:10, // Show only one item per page
                link_to:"{{ path('spicy_admin_home_video')}}/__id__",
                current_page:{{page-1}},
                prev_text:"Prèc.",
                next_text:"Suiv.",
                num_edge_entries:2,
                num_display_entries:10,
                callback:function(){}
            });
         }

        // When document is ready, initialize pagination
        $(document).ready(function(){      
            initPagination();
        });
    </script>
    
{% endblock%}
