{% extends "SpicySiteBundle::layout_admin.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('css/admin.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{asset('css/pagination.css')}}" type="text/css" />
{% endblock %}

{% block body %}
    <a href="{{path('spicy_admin_home')}}"><< admin</a>
    <h3>Artistes</h3>
    <a href="{{path('spicy_admin_add_artiste')}}">Ajouter un artiste</a>
    {{ parent() }}
    <table border="1" class="data">
    {% for artiste in artistes %}
            <tr>
                <td>{{artiste.id}}</td>
                <td>{{artiste.libelle}}</td>
                <td><a href="{{path('spicy_admin_update_artiste', {'id': artiste.id})}}">Modifier</a></td>
                <td><a href="{{path('spicy_admin_delete_artiste',{'id':artiste.id})}}">Supprimer</a></td>
            </tr>
    {%else%}
            <tr colspan="4"><td>Pas d'artistes</td></tr>
    {%endfor%}
    </table>
    <div id="Pagination"></div>
{%endblock%}
    
{% block javascripts %}
    {{parent()}}
    
    <script type="text/javascript">
        function initPagination() {
            // count entries inside the hidden content
            //var num_entries = jQuery('#hiddenresult div.result').length;
            var num_entries = {{artistes|length}}
            // Create content inside pagination element
            $("#Pagination").pagination(num_entries, {
                //callback: pageselectCallback,
                items_per_page:30, // Show only one item per page
                link_to:"{{ path('spicy_admin_home_artiste')}}/__id__",
                current_page:{{page-1}},
                prev_text:"Prèc.",
                next_text:"Suiv.",
                num_edge_entries:2,
                num_display_entries:10,
                callback:function(){}
            });
         }

        // When document is ready, initialize pagination
        $(document).ready(function(){      
            initPagination();
        });
    </script>
    
{% endblock%}
