{% extends "SpicySiteBundle::layout_admin.html.twig" %}

{% block body %}
{{ parent() }}

    {% for message in app.session.flashbag.get('notice') %}
        <p>{{ message }}</p>
    {% endfor %}

    <h3>Modifier un artiste</h3>
    
    <form method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        <div class="label">
            {{ form_label(form.libelle) }}
            {{ form_errors(form.libelle) }}
        </div>
        <div class="input">
            {{ form_widget(form.libelle) }}
        </div>
        
        <div class="label">
            {{ form_label(form.description) }}
            {{ form_errors(form.description) }}
        </div>
        <div class="input">
            {{ form_widget(form.description) }}
        </div>
        
        <div class="label">
            {{ form_label(form.tag_facebook) }}
            {{ form_errors(form.tag_facebook) }}
        </div>
        <div class="input">
            {{ form_widget(form.tag_facebook) }}
        </div>
        
        <div class="label">
            {{ form_label(form.tag_twitter) }}
            {{ form_errors(form.tag_twitter) }}
        </div>
        <div class="input">
            {{ form_widget(form.tag_twitter) }}
        </div>
        
        <div class="label">
            {{ form_label(form.hashtags) }}
            {{ form_errors(form.hashtags) }}
        </div>
        <div class="input">
            {{ form_widget(form.hashtags) }}
            <a href="#" data-reveal-id="modal_hashtag" id="modal_new_hashtag">Cr&eacute;e un hashtag</a>
            <div class="loading"></div>
        </div>
        
        <div class="label">
            {{ form_label(form.dateArtiste) }}
            {{ form_errors(form.dateArtiste) }}
        </div>
        <div class="input">
            {{ form_widget(form.dateArtiste) }}
        </div>
        <div class="button">
            <input type="submit" class="btn btn-primary" />
            {{ form_rest(form) }}
        </div>
    </form>
            
    <div id="modal_hashtag" class="reveal-modal">
        <div class="content"></div>
        <a class="close-reveal-modal">&#215;</a>
    </div>
{% endblock%}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript" src="{{asset('js/select2.js')}}" ></script>
    <script type="text/javascript" src="{{asset('js/jquery.reveal.js')}}" ></script>
    <script type="text/javascript">
        $(".loading").hide();
        $("#spicy_sitebundle_artistetype_hashtags").select2({
            width: '100px'
        });
        $("#modal_new_hashtag").click(function(){ 
            $(".loading").show();
            $.ajax({
                type: "POST",
                url: "{{ path('admin_hashtag_new_modal_update',{'id':idArtiste})}}",
                cache: false,
                success: function(data){
                   $('#modal_hashtag .content').html(data);
                   $('#modal_hashtag').reveal();
                   $(".loading").hide();
                }
            });    
            return false;
        });
    </script>
{% endblock %}
