{% extends "SpicySiteBundle::layout.html.twig" %}

{% block title %}
{{ parent() }} : Retrouvez nous sur facebook(mimizikcom), youtube(mimizikcom) et twitter
{% endblock %}

{% block meta_description %}
    <meta name="Description" content="Retrouvez nous sur facebook(mimizikcom), youtube(mimizikcom) et twitter."/> 
{% endblock %}

{% block body %}
    
    {{ parent() }}
    <div class="page-title wrapper">
        <div class="container">
            <span><h2>Contact - Infos</h2></span>
            <div class="clear"></div>
        </div>
    </div>
    <div class="container" id="main_container" >
        <div class="two-third column">    
            <div class="content-block">
                <div class="block-title"><span>Le site</span></div>
                <div class="block-content">
                    <p>Mimizik est un site spécialisé dans la promotion de vidéos clips des artistes issus des départements
                    d'outre-mer (Guadeloupe, Martinique, Guyane, Réunion,...), de la Caraîbe (Jamaïque,
                    Trinidad..) et plus généralement des genres musicaux qui y sont présent, créé en septembre 2013.<br/><br/> 
                    Depuis sa création , le site attire de plus en plus de visiteurs,
                    en quête des dernières vidéos de leurs artistes préférés, qui apprécient le design, l'accessibilité des
                    rubriques ou encore la diversité des vidéos du site.<br/><br/>
                    Grâce à l'interconnexion avec les réseaux sociaux, Mimizik s'assure une place priviligée pour capter
                    les dernières nouveautés musicales et permettre des échanges entre ces visiteurs.</p>
                </div>
            </div>
            <div class="content-block">
                <div class="block-title"><span>Exclusivité</span></div>
                <div class="block-content">
                    <p>Vous êtes artiste et vous rechercher un moyen de vous faire connaître ?<br/><br/>
                    Votre vidéo peut bénéficier de l'influence de notre chaîne YouTube. Elle pourra vous garantir une
                    plus grande visibilité, et vous permettre par la suite de créer éventuellement votre propre chaîne.</p>
                </div>
            </div>
            <div class="content-block">
                <div class="block-title"><span>Collaboration</span></div>
                <div class="block-content">
                    <p>Mimizik vous propose des collaborations de divers types : promotion d'artistes, d'évènement (soirées, concert...).<br/><br/>
                    Si vous pensez avoir des compétences pour nous aider à accroître l'attractivité de notre site
                    (monteur vidéos, webmaster, graphiste...), vous pouvez également nous contacter.</p>
                </div>
            </div>
            <div class="content-block">
                <div class="block-title"><span>Publicité</span></div>
                <div class="block-content">
                    <p>En plus de faire la promotion des artistes et de leurs créations, Mimizik fait également la place aux
                    annonces publicitaires (évènement, shopping...).<br/>
                    Nos emplacements sont les suivants : </p>
                    <ul>
                        <li>Publicité avant montage video top  </li>
                        <li>Publicité dans video top </li>
                        <li>Habillage home( 1600~ x1500) 300px sur les cotés + 1000px au centre + eventuellement 300px en haut x 1000px de long mini  <a href="#">&curvearrowright; aperçu</a></li>
                        <li>Bannière en haut home (1000x60~)   <a href="#">&curvearrowright; aperçu</a></li>
                        <li>Encart droit home (270x300~)  <a href="#">&curvearrowright; aperçu</a></li>
                        <li>Couverture page fb et twitter  <a href="#">&curvearrowright; aperçu</a></li>
                        <li>Mise en avant fb et twitter  <a href="#">&curvearrowright; aperçu</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="one-third column last">
            <div class="content-block">
                <div class="block-content">
                    <p>Pour tous renseignements, promotions et montage vidéo veuillez nous contacter:</p><br/>
                    <p>Developpeur/Administrateur : <a href="mailto:{{email_contact}}">Franchesco971 ({{email_contact}})</a></p>
                    <p>Graphisme : <a href="mailto:{{email_contact}}">Peach vivi</a></p>
                    <br/>
                    <h3>Liens</h3>
                    <p>Facebook: <a href="https://www.facebook.com/mimizikcom" target="_blank">mimizikcom</a></p>
                    <p>Twitter : <a href="https://twitter.com/mimizikcom" target="_blank">mimizikcom</a></p>
                    <p>Youtube: <a href="https://www.youtube.com/user/mimizikcom" target="_blank">mimizikcom</a></p>
                    <p>S'abonner aux flux des vidéos: <a href="http://www.mimizik.com/flux/videos" target="_blank">flux</a></p>
                </div>
            </div>
        </div>
    </div>
{%endblock%}
