{% extends "SpicySiteBundle::layout.html.twig" %}

{% block title %}
{{ parent() }} : Ici sont regroupés tous les artistes de Mimizik
{% endblock %}

{% block meta_description %}
    <meta name="Description" content="Mimizik regroupe tous les artistes des antilles, de la caraïbes et de la guyane, qu'ils soient issues  du zouk du dancehall ou hip-hop."/> 
{% endblock %}

{% block stylesheets %}
    {% stylesheets filter='cssrewrite,?yui_css'
        'css/pagination.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
    {{ parent() }}
{% endblock %}
    
{% block body %}
    {{ parent() }}
    <div class="page-title wrapper">
        <div class="container">
            <span>Tes artistes pr&eacute;f&eacute;r&eacute;s</span>
            <div class="clear"></div>
        </div>
    </div>
    <div class="content wrapper">
        <div class="container">
            <div class="two-third column">
                <div class="content-block">
                    <div class="block-content">
                        <table>
                            {% for artiste in artistes %}
                                <tr>
                                    <td><a href="{{ path('spicy_site_artiste_slug',{'id':artiste.id,"slug":artiste.slug})}}">{{artiste.libelle}}</a></td>
                                    <td>{{artiste.description| truncate(20, true, '...')}}</td>
                                </tr>
                            {%else%}
                            <tr colspan="2"><td>Pas d'artistes</td></tr>
                            {% endfor %}
                        </table>
                        <div id="Pagination">          
                        </div>
                    </div>
                </div>
            </div>
            <div class="one-third column last">
                <div class="content-block">
                    <div class="block-content"></div>
                </div>
            </div>
        </div>
    </div>        
    
{%endblock%}
    
{% block javascripts %}
    {{parent()}}
    
    <script type="text/javascript">
        function initPagination() {
            // count entries inside the hidden content
            //var num_entries = jQuery('#hiddenresult div.result').length;
            var num_entries = {{artistes|length}}
            // Create content inside pagination element
            $("#Pagination").pagination(num_entries, {
                //callback: pageselectCallback,
                items_per_page:20, // Show only one item per page
                link_to:"{{ path('spicy_site_artistes')}}/__id__",
                current_page:{{page-1}},
                prev_text:"Prèc.",
                next_text:"Suiv.",
                num_edge_entries:2,
                num_display_entries:8,
                callback:function(){}
            });
         }

        // When document is ready, initialize pagination
        $(document).ready(function(){      
            initPagination();
        });
    </script>
    
{% endblock%}