{% extends "SpicySiteBundle::layout.html.twig" %}

{% block title %}
    {{parent()}} - Toutes les vidéos clip et la musique des antilles, de la caraïbes et de la guyane. Tout mizik la!
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/pagination.css')}}" type="text/css" />
    {{ parent() }}
    <meta name="google-site-verification" content="sGYi5z6Hzfo88twISFPkyXzxAQG6JmyphW0UITV9uic" />
{% endblock %}
{% block body %}
    {{ parent() }}
    <div id="lastVideos" class="arrondi fond_transparent_blanc">
        <div id="lastVideos_header">
            <div class="floatleft"><h2>Les dernieres vidéos</h2></div>
        </div>
        <div class="videos">
            {% for video in videos %}         
                {% include "SpicySiteBundle:Site:video_mini.html.twig" %}          
            {% endfor %}
        </div>
    </div>
    <div id="videos_topVideos_news_sorties">
        <div id="videos_news" class="floatleft">
            <div id="videos" class="arrondi fond_transparent_blanc">
                {{ render(controller("SpicySiteBundle:Site:indexSuite", {'page': page})) }}
            </div>
            <div id="news" class="arrondi fond_transparent_blanc">
                {{ render(controller("SpicySiteBundle:Site:news"))}}
            </div>
        </div>
        <div id="topVideos_sorties" class="floatleft">
            <div id="topVideos" class="arrondi fond_transparent_blanc">
                {{ render(controller("SpicySiteBundle:Site:retro"))}}
            </div>
            <div id="sorties" class="arrondi fond_transparent_blanc">
                <h3 class="arrondi_haut">Pub</h3>
            </div>
        </div>
    </div>
    <div id="classement"></div>
{% endblock %}
    
{% block javascripts %}
    {{parent()}}
    
    <script type="text/javascript">
        function initPagination() {
            // count entries inside the hidden content
            //var num_entries = jQuery('#hiddenresult div.result').length;
            var num_entries = {{videos|length-5}}
            // Create content inside pagination element
            $("#Pagination").pagination(num_entries, {
                //callback: pageselectCallback,
                items_per_page:10, // Show only one item per page
                link_to:"{{ path('spicy_site_homepage')}}__id__",
                current_page:{{page-1}},
                prev_text:"Prèc.",
                next_text:"Suiv.",
                num_edge_entries:2,
                num_display_entries:8,
                callback:function(){}
            });
         }

        // When document is ready, initialize pagination
        $(document).ready(function(){      
            initPagination();
        });
    </script>
    
{% endblock%}