{% extends "SpicySiteBundle::layout.html.twig" %}

{% block title %}
    {{parent()}} - Toutes les vidéos clip et la musique des antilles, de la caraïbes et de la guyane. Tout mizik la!
    {% if page>1 %}
      Page {{page}}
    {% endif %}
{% endblock %}

{% block stylesheets %}    
    <meta name="google-site-verification" content="sGYi5z6Hzfo88twISFPkyXzxAQG6JmyphW0UITV9uic" />
    {{ parent() }}
    {% stylesheets filter='cssrewrite,?yui_css' output='css/compiled/home.css'
        '@SpicyRankingBundle/Resources/public/css/ranking.css'
        '@SpicySiteBundle/Resources/public/css/home.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
    <style type="text/css">
        /*#body{background: url("/images/testbg.png") no-repeat scroll 50% 0 rgba(0, 0, 0, 0);}*/
        
    </style> 
{% endblock %}

{% block body %}
    {{ parent() }}
    <div id="lastVideos" class="ribbon-slider-container">
        <div class="ribbon-slider">
            <ul >
                {% for video in videos %}
                    {% include "SpicySiteBundle:Site:video_slider.html.twig" %}        
                {% endfor %}
            </ul>
            <input type="hidden" class="slider-pause" value="10" />
            <input type="hidden" class="slider-speed" value="300" />
        </div>
        <a class="arrow arrow-left" href="#"></a>
        <a class="arrow arrow-right" href="#"></a>
    </div>
    
    <div id="recherche" class="content-block">
        <div class="page" >
            <div class="wrapper" >
                <div style="visibility: hidden" class="search-hidden">
                    <script type="text/javascript">
                        (function() {
                          var cx = '002998674673804737708:kp1nwfez6i8';
                          var gcse = document.createElement('script');
                          gcse.type = 'text/javascript';
                          gcse.async = true;
                          gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                              '//www.google.com/cse/cse.js?cx=' + cx;
                          var s = document.getElementsByTagName('script')[0];
                          s.parentNode.insertBefore(gcse, s);
                        })();
                    </script>
                    <gcse:search gaQueryParameter="q"></gcse:search>
                </div>
                <div class="search-form three-fourth floatleft">
                    <form>
                        <fieldset>
                            <label>Cherche ton artiste ou ta vidéo :</label>
                            <input type="text" title="Recherche sur le site" value="Recherche sur le site" />
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="espace_pub_home" class="container">
    </div>
    <div class="container" id="main_container" >
        <div class="column column-videos" style="width:650px">
            <div class="content-block">
                <div class="block-title"><span>Vidéos récentes</span>
                </div>
                <div class="block-content">
                    <div class="featured-blog">
                        {% include "SpicySiteBundle:Site:indexSuite.html.twig" %}                       
                    </div>
                </div>    
            </div>
            <div>
                <div id="banstex468x60">
                    {#% include "SpicySiteBundle:Ads:468x60_banstex.html.twig" %#}
                </div>  
            </div>
        </div>
        <div class="column" style="width:310px">          
            <div class="content-block widget widget-social">
                <div class="block-title"><span>Social</span></div>
                <div class="block-content">		
                    <div class="social-widget tabs-container">
                        <div class="tabs">
                            <ul>					
                                <li class="current"><a href="#" title="Facebook" class="facebook"></a></li>
                                <li><a href="#" title="Twitter" class="twitter"></a></li>
                                <li><a href="#" title="YouTube" class="youtube"></a></li>
                            </ul>
                        </div>	
                        <div class="clear"></div>
                        <div class="panes">
                            <div class="pane facebook" style="display: block;">
                                <script type="text/javascript">(function(d, s, id) {
                                  var js, fjs = d.getElementsByTagName(s)[0];
                                  if (d.getElementById(id)) return;
                                  js = d.createElement(s); js.id = id;
                                  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&appId=729891760354276&version=v2.0";
                                  fjs.parentNode.insertBefore(js, fjs);
                                }(document, 'script', 'facebook-jssdk'));</script>
                                <div class="fb-like-box" data-href="http://www.facebook.com/mimizikcom" data-width="260" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="true"></div>
                            </div>
                            <div id="widget-tweets" class="pane twitter">
                               <a class="twitter-timeline" height="300"  href="https://twitter.com/mimizikcom"  data-widget-id="389191778881912833">Tweets de @mimizikcom</a>
                            </div>
                            <div class="pane youtube">
                                    <iframe style="overflow: hidden; height: 105px; width: 100%; border: 0;" src="http://www.youtube.com/subscribe_widget?p=mimizikcom" id="fr"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="content-block">
                <div class="block-title">
                    <span>Rétro de la semaine</span>
                </div>
                <div class="block-content">
                    {{ render(controller("SpicySiteBundle:Site:retro"))}}
                </div>
            </div>
                
            <div class="content-block">
                <div class="block-content" id="encart_droit">
                    {% include "SpicySiteBundle:Ads:encart_droit_adsense.html.twig" %}
                </div>
            </div>
                
            <div class="content-block" id="last-ranking">
                <div class="block-title">
                    <span>Dernier classement</span>
                </div>
                <div class="block-content last">
                    
                </div>
            </div>
        </div>
        
    </div>
{% endblock %}
    
{% block javascripts %}
    {{parent()}}
    <script type="text/javascript">
        
        function initPagination() {
            var num_entries = {{videos|length-5}}
            $("#Pagination").pagination(num_entries, {
                items_per_page:10, // Show only one item per page
                //link_to:"{{ path('spicy_site_homepage')}}__id__",
                link_to:"#",
                current_page:{{page-1}},
                prev_text:"Prèc.",
                next_text:"Suiv.",
                num_edge_entries:2,
                num_display_entries:8,
                callback:function(page){
                    var page=page+1;
                    if(page>0)
                    {
                        $.ajax({
                            url: "{{ path('spicy_site_homepage')}}ajax/"+page,
                            context: document.body
                          })
                        .done(function(html) {
                          $('.column-videos #list_videos').html(html);
                        })
                        .fail(function() {
                          alert( "error" );
                        });
                    }                    
                    return false;                    
                }
            });
         }
	
	//Tabs
	if($('.tabs-container').length) {	
            $('.tabs-container').each(function() {

                var tabs=$(this);

                //show first pane
                tabs.find('.panes .pane:first-child').show();
                tabs.find('.tabs li:first-child').addClass('current');

                tabs.find('.tabs li').click(function() {
                        //set active state to tab
                        tabs.find('.tabs li').removeClass('current');
                        $(this).addClass('current');

                        //show current tab
                        tabs.find('.pane').hide();
                        tabs.find('.pane:eq('+$(this).index()+')').show();			
                });
            });		
            $('.tabs-container .tabs a').click(function() {
                    $(this).parent().trigger('click');
                    return false;
            });
	}
        
        $(document).ready(function(){ 
            //initSlider();
            initPagination();
            
            $('#recherche .search-form form').submit(function() {
                //$('#recherche .search-hidden').show();
                var val_search=$(this).find('input[type="text"]').val();
                
                var hidden_form=$('#recherche .search-hidden form');
                var hidden_input=hidden_form.find('.gsc-input input');
                var hidden_button=hidden_form.find('.gsc-search-button input');
                hidden_input.val(val_search);
                
                hidden_button.click();
                //setTimeout(1000);
                //$('#recherche .search-hidden').hide();
                return false;
            });
            
            $('#recherche .search-form input[type="text"]').focus(function() {
                 $(this).val('');
            });
            
            $.ajax({
                url: "{{ path('mimizik_ranking_last_show')}}",
                context: document.body
              })
            .done(function(html) {
                $('#last-ranking .last').html(html);
            })
            
        });
    </script>
    <script type="text/javascript" src="{{asset('js/jquery.ribbonSlider.js')}}" ></script>
    {#% javascripts  filter='?yui_js' output='js/compiled/home.js'
        'js/jquery.mousewheel.min.js'
        'js/jquery.ribbonSlider.js' %}
        <script type="text/javascript" src="{{ asset_url }}" ></script>
    {% endjavascripts %#}
    <script type="text/javascript">!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% endblock%}
