{% extends "SpicySiteBundle::layout.html.twig" %}

{% block title %}
{{ parent() }} : Ici sont regroupés tous les artistes de Mimizik
{% endblock %}

{% block meta_description %}
    <meta name="Description" content="Mimizik regroupe tous les artistes des antilles, de la caraïbes et de la guyane, qu'ils soient issues  du zouk du dancehall ou hip-hop."/> 
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/pagination.css')}}" type="text/css" />
    {{ parent() }}
{% endblock %}
    
{% block body %}
    {{ parent() }}
    <div id="artiste" class="fond_transparent">
        <h1>Tes artistes pr&eacute;f&eacute;r&eacute;s</h1>

        <div>
            <table border="1" class="data">
                <tr><th>Nom</th><th>Description</th></tr>
            {% for artiste in artistes %}
                <tr>
                    <td><a href="{{ path('spicy_site_artiste_slug',{'id':artiste.id,"slug":artiste.slug})}}">{{artiste.libelle}}</a></td>
                    <td>{{artiste.description| truncate(20, true, '...')}}</td>
                </tr>
            {%else%}
                <tr colspan="2"><td>Pas d'artistes</td></tr>
            {% endfor %}
            </table>
        </div>
        <!--<div class="pagination">
            <ul>
              {% for p in range(1, nombrePage) %}
                <li{% if p == page %} class="active"{% endif %}>
                  <a href="{{ path('spicy_site_artistes', {'page': p}) }}">{{ p }}</a>
                </li>
              {% endfor %}
            </ul>
        </div>-->
        <div id="Pagination">
            
        </div>
    </div>
{%endblock%}
    
{% block javascripts %}
    {{parent()}}
    
    <script type="text/javascript">
        function initPagination() {
            // count entries inside the hidden content
            //var num_entries = jQuery('#hiddenresult div.result').length;
            var num_entries = {{artistes|length-5}}
            // Create content inside pagination element
            $("#Pagination").pagination(num_entries, {
                //callback: pageselectCallback,
                items_per_page:10, // Show only one item per page
                link_to:"{{ path('spicy_site_artistes')}}/__id__",
                current_page:{{page-1}},
                prev_text:"Prèc.",
                next_text:"Suiv.",
                num_edge_entries:2,
                num_display_entries:8,
                callback:function(){}
            });
         }

        // When document is ready, initialize pagination
        $(document).ready(function(){      
            initPagination();
        });
    </script>
    
{% endblock%}