{% extends "SpicySiteBundle::layout.html.twig" %}

{% block title %}{{lavideo.getNomArtistes}} - {{lavideo.titre}} sur Mimizik{% endblock %}

{% block meta_description %}
    <meta name="Description" content="Vidéo clip {{lavideo.getNomArtistes}} - {{lavideo.titre}} : {{lavideo.description}}"/>
    <meta property="og:title" content="{{lavideo.getNomArtistes}} - {{lavideo.titre}}" />
    <meta property="og:image" content="http://img.youtube.com/vi/{{lavideo.url}}/0.jpg" />
    <meta property="og:url" content="{{website_name}}{{path('spicy_site_video_slug',{'id':lavideo.id,'slug':lavideo.slug})}}" />
    <meta property="og:description" content="{{lavideo.description}}"/>
    <!--<meta property="og:video" content="http://www.youtube.com/v/{{lavideo.url}}?version=3&autohide=1"/>    
    <meta property="og:video:type" content="application/x-shockwave-flash" />
    <meta property="og:video:width" content="420" />
    <meta property="og:video:height" content="260" />
    <meta property="og:type" content="video" />-->
    <meta property="og:site_name" content="Mimizik" />
    <!--<meta content="729891760354276" property="fb:app_id" />-->
    <meta content="video" name="medium" />
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="image_src" type="image/jpeg" href="http://img.youtube.com/vi/{{lavideo.url}}/0.jpg" />
    <link rel="video_src" href="http://www.youtube.com/v/{{lavideo.url}}?version=3&autohide=1"/>
    
{% endblock %}  
    
{% block body %}
    {{ parent() }}
    
    <div class="page-title wrapper">
        <div class="container">
            <span>Vid&eacute;o</span>
            <div class="clear"></div>
        </div>
    </div>
    <div class="content wrapper">
        <div class="container">
            <div class="content-block" itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
                <div class="block-title">
                    <h2 itemprop="name">
                        <span class="artisteVideo">
                        {% for artiste in lavideo.artistes %}
                            <a title="{{artiste.libelle}}" href="{{path('spicy_site_artiste_slug',{'id':artiste.id,"slug":artiste.slug})}}">{{artiste.libelle}}</a>    
                            {% if loop.length==2 and loop.first %}
                            &amp;
                            {% elseif loop.length>2 and loop.revindex>2 %}
                            ,
                            {% elseif loop.last==false %}
                            &amp;
                            {%endif%}
                        {% endfor %}
                        </span>
                          - {{lavideo.titre}}
                    </h2>
                </div>
                <div class="block-content">
                    <meta itemprop="thumbnailUrl" content="http://img.youtube.com/vi/{{lavideo.url}}/0.jpg" />
                    <meta itemprop="contentURL" content="http://www.youtube.com/v/{{lavideo.url}}" />
                    <meta itemprop="embedURL" content="http://www.youtube.com/embed/{{lavideo.url}}" />
                    <meta itemprop="description" content="{{lavideo.description|nl2br}}" />
                    {% set autoplay=0 %}
                    <iframe width="900" height="506" src="http://www.youtube.com/embed/{{lavideo.url}}?autoplay={{autoplay}}" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="two-third column">
                <div class="content-block">
                    <div class="block-title"><span>Description</span></div>
                    <div class="block-content">                        
                        <p>{{lavideo.description|nl2br}}</p>
                        <p ><b class="titre">Artistes: </b>
                            {% for artiste in lavideo.artistes %}
                            <a title="{{artiste.libelle}}" href="{{path('spicy_site_artiste_slug',{'id':artiste.id,"slug":artiste.slug})}}">{{artiste.libelle}}</a>    
                            {% if loop.last %}

                            {% elseif loop.first %} & {% else %} , {%endif%}
                        {% endfor %}
                        </p>
                        <p><b class="titre">Genres: </b>
                        {% for genre in lavideo.genreMusicaux %}
                            <a title="{{genre.libelle}}" href="{{ path('spicy_site_genre',{'id':genre.id,'slug':genre.slug})}}">{{genre.libelle}}</a>    
                            {% if loop.last %}

                            {% elseif loop.first %} & {% else %} , {%endif%}
                        {% endfor %}
                        </p>
                        <p><b class="titre">Types de video:</b> {{lavideo.getNomTypes}}</p>
                        <p><b class="titre">Source:</b> 
                            {% if lavideo.getSource %}
                                <a title="Source youtube" href="{{lavideo.getTxtSource}}">{{lavideo.getSource}}</a>
                            {% else %}Inconnu{% endif %}
                        </p>
                        <p><b class="titre">Tags:</b>
                        {% for hashtag in tags %}
                            <a href="{{path('mimizik_tag_show',{'tag':hashtag.libelle})}}">#{{hashtag.libelle}}</a>
                        {% endfor %}
                        </p>
                        <p><b class="titre">Date : </b>{{lavideo.dateVideo|date('d/m/y')}}</p>
                    </div>
                </div>
                <div class="content-block">
                    <div class="block-title"><span>Commentaires</span></div>
                    <div class="block-content">
                        <div class="fb-comments" 
                             data-href="{{domaine_name}}{{path('spicy_site_video_slug',{'id':lavideo.id,'slug':lavideo.slug})}}" 
                             data-width="580" data-num-posts="3"></div>
                    </div>
                </div>
                <div>
                    <div id="banstex468x60">
                        {#% include "SpicySiteBundle:Ads:468x60_banstex.html.twig" %#}
                    </div>  
                </div>
            </div>
            <div class="one-third column last">
                <div class="content-block">
                    <div class="block-title"><span>Social</span></div>
                    <div class="block-content">
                        <div class="fb-like floatleft" data-href="{{website_name}}{{path('spicy_site_video_slug',{'id':lavideo.id,'slug':lavideo.slug})}}" data-send="true" data-layout="box_count" 
                         data-width="400" data-show-faces="true"></div>
                        <div class="g-plusone" data-size="tall" data-href="{{website_name}}{{path('spicy_site_video_slug',{'id':lavideo.id,'slug':lavideo.slug})}}">
                        </div>
                        <a href="https://twitter.com/share" class="twitter-share-button floatleft" 
                           data-url="{{website_name}}{{path('spicy_site_video_slug',{'id':lavideo.id,'slug':lavideo.slug})}}" 
                           data-via="mimizik" data-lang="fr"  data-count="vertical">Tweet</a>
                    </div>
                </div>
                <div class="content-block">
                    <div class="block-title"><span>Suggestions</span></div>
                    <div class="block-content">
                        <div class="fade-slider">
                            <ul>
                                {% for video in suggestions %}
                                    {% include "SpicySiteBundle:Site:video_post_slider.html.twig" %}
                                {% endfor %}
                            </ul>
                            <div class="arrow arrow-left"></div>
                            <div class="arrow arrow-right"></div>
                            <input type="hidden" class="slider-pause" value="1" />
                            <input type="hidden" class="slider-speed" value="6000" />
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="content-block">
                    <div class="block-content" id="encart_droit">
                        {% include "SpicySiteBundle:Ads:encart_droit_adsense.html.twig" %}
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    
    {{parent()}}
    <script type="text/javascript">
                (function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return;
                  js = d.createElement(s); js.id = id;
                  js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1";
                  fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
        </script>
        <script type="text/javascript">
            window.___gcfg = {lang: 'fr'};

            (function() {
              var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
              po.src = 'https://apis.google.com/js/plusone.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
            })();
        </script>
        <script type="text/javascript">
            !function(d,s,id){
                var js,fjs=d.getElementsByTagName(s)[0];
                if(!d.getElementById(id))
                {js=d.createElement(s);
                    js.id=id;js.src="https://platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js,fjs);
                }            
            }
            (document,"script","twitter-wjs");
       </script>
      
{% endblock %}
