{% extends "SpicySiteBundle::layout.html.twig" %}

{% block title %}
{{ parent() }} : Retrouvez toute la musique et les vidéos clip de {{artiste.libelle}}
{% endblock %}

{% block meta_description %}
    <meta name="Description" content="Mimizik te propose toute la musique et les vidéos clip de {{artiste.libelle}}. {{artiste.description}}"/> 
{% endblock %}

{% block body %}
    {{ parent() }}
    <div id="artiste" class="fond_transparent">
        <h2>{{artiste.libelle}}</h2>
        <div>
            <p>Nom : {{artiste.libelle}}</p>
            <p>Description : {{artiste.description}}</p>
        </div>
        <div>
             {% for video in videos %}
                {% include "SpicySiteBundle:Site:video_mini.html.twig" %} 
             {%else%}
                <p>Pas de vidéos de cette artiste</p>
             {% endfor %}
        </div>
    </div>
{% endblock %}
