{% extends "SpicySiteBundle::layout.html.twig" %}

{% block title %}
{{ parent() }} : Vous regardez le video clip {{video.getNomArtistes}} - {{video.titre}}
{% endblock %}

{% block meta_description %}
    <meta name="Description" content="Vidéo clip {{video.getNomArtistes}} - {{video.titre}} : {{video.description}}"/> 
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="image_src" type="image/jpeg" href="http://img.youtube.com/vi/{{video.url}}/0.jpg" />
    <meta property="og:image" content="http://img.youtube.com/vi/{{video.url}}/0.jpg" />
{% endblock %}

{% block body %}
    {{ parent() }}

    <div id="video">
        <div>
            
            <h2 >
                <span class="artisteVideo">
                {% for artiste in video.artistes %}
                    <a href="{{path('spicy_site_artiste_slug',{'id':artiste.id,"slug":artiste.slug})}}">{{artiste.libelle}}</a>    
                    {% if loop.length==2 and loop.first %}
                    &
                    {% elseif loop.length>2 and loop.revindex>2 %}
                    ,
                    {% elseif loop.last==false %}
                    &
                    {%endif%}
                {% endfor %}
                </span>
                  - 
                <a href="{{path('spicy_site_video_slug',{'id':video.id,'slug':video.slug})}}">
                    {{video.titre}}
                </a>
            </h2>
            
        </div>

	<iframe width="900" height="506" src="http://www.youtube.com/embed/{{video.url}}?autoplay=1" frameborder="0" allowfullscreen></iframe>

        <div id="social_comments_infos" class="fond_transparent_blanc">
            <div id="social_comments" class="floatleft">
                <div id="social" >
                    <div class="fb-like" data-href="{{website_name}}{{path('spicy_site_video_slug',{'id':video.id,'slug':video.slug})}}" data-send="true" data-layout="box_count" 
                         data-width="450" data-show-faces="true"></div>
                    <div class="g-plusone" data-size="tall" data-href="{{website_name}}{{path('spicy_site_video_slug',{'id':video.id,'slug':video.slug})}}">
                    </div>
                    <a href="https://twitter.com/share" class="twitter-share-button" 
                       data-url="{{website_name}}{{path('spicy_site_video_slug',{'id':video.id,'slug':video.slug})}}" 
                       data-via="your_screen_name" data-lang="en" data-related="anywhereTheJavascriptAPI" data-count="vertical">Tweet</a>
                </div>
                <div class="fb-comments fond_transparent_blanc" data-href="{{domaine_name}}{{path('spicy_site_video_slug',{'id':video.id,'slug':video.slug})}}" data-width="470" data-num-posts="2"></div>
            </div>
            <div id="infos" class="floatleft">
                <p>Description:<br/>
                    {{video.description}}
                </p><br/>
                <p >Artistes: 
                    {% for artiste in video.artistes %}
                    <a href="{{path('spicy_site_artiste_slug',{'id':artiste.id,"slug":artiste.slug})}}">{{artiste.libelle}}</a>    
                    {% if loop.last %}

                    {% elseif loop.first %} & {% else %} , {%endif%}
                {% endfor %}
                </p>
                <p>Genres: 
                    {#{video.getNomGenres}#}
                    {% for genre in video.genreMusicaux %}
                    <a href="{{ path('spicy_site_genre',{'id':genre.id,'slug':genre.slug})}}">{{genre.libelle}}</a>    
                    {% if loop.last %}

                    {% elseif loop.first %} & {% else %} , {%endif%}
                {% endfor %}
                </p>
                <p>Types de video: {{video.getNomTypes}}</p>
                <p>Source: {% if video.getSource %}<a href="{{video.getTxtSource}}">{{video.getSource}}</a>{% else %}Inconnu{% endif %}</p>
            </div>
        </div>
</div>
{% endblock %}
