{% extends "::layout2.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/pagination.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{asset('css/style2.css')}}" type="text/css" />		
    <link rel="stylesheet" href="{{asset('css/reset.css')}}" type="text/css" />
{% endblock %}
{% block body %}
    
    
    <div id="red-contents" class="contents" style="border: solid 1px #F82723;">
    <div style="height: 65px; text-align: center; font-size: 2em; padding-top: 40px;
                color: #F82723" id="r">
                Page # 1
            </div>
    <div id="red"></div>
        </div>
    
    <div id="Pagination"></div>
    
    <div id="videos" class="fond_transparent">
        <div id="loading">aaaa</div>
                {{ render(controller("SpicySiteBundle:Site:indexSuite", {'page': 1})) }}
            </div>
{%endblock%}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript" src="{{asset('js/jquery.pagination.js')}}" ></script>
    <script type="text/javascript">    
        function initPagination() {
                // count entries inside the hidden content
                //var num_entries = jQuery('#hiddenresult div.result').length;
                var num_entries = 100
                // Create content inside pagination element
                $("#Pagination").pagination(num_entries, {
                    //callback: pageselectCallback,
                    items_per_page:10, // Show only one item per page
                    link_to:"{{ path('spicy_site_homepage')}}__id__",
                });
             }
            
            // When document is ready, initialize pagination
            $(document).ready(function(){      
                initPagination();
            });    
    </script>
    

{% endblock%}