{% extends "SpicySiteBundle::layout.html.twig" %}

{% block title %}
{{ parent() }} : Ici sont regroupés tous les Top 10 de Mimizik.com
{% endblock %}

{% block meta_description %}
    <meta name="Description" content="Mimizik regroupe tous les Top 10 de Mimizik.com."/> 
{% endblock %}

{% block stylesheets %}
    {% stylesheets filter='cssrewrite,?yui_css'
        'css/pagination.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
    {{ parent() }}
{% endblock %}
    
{% block body %}
    
    {{ parent() }}
    <div class="page-title wrapper">
        <div class="container">
            <span>Tes tops 10 Mimizik pr&eacute;f&eacute;r&eacute;es</span>
            <div class="clear"></div>
        </div>
    </div>
    <div class="container" id="main_container" >
        <div class="column two-third" >
            <div class="content-block">
                <div class="block-content">
                    <div class="featured-blog">
                        {% for video in videos %}         
                            {% include "SpicySiteBundle:Site:video_post.html.twig" %}          
                        {% endfor %}
                        <div id="Pagination" >

                        </div>                        
                    </div>
                </div>    
            </div>
            <div>
                <div id="banstex468x60">
                    {#% include "SpicySiteBundle:Ads:468x60_banstex.html.twig" %#}
                </div>  
            </div>
        </div>
        <div class="one-third column last">
            <div class="content-block">
                <div class="block-content" id="encart_droit">
                    {% include "SpicySiteBundle:Ads:encart_droit_adsense.html.twig" %}
                </div>
            </div>
        </div>
    </div>
{%endblock%}

{% block javascripts %}
    {{parent()}}
    
    <script type="text/javascript">
        function initPagination() {
            var num_entries = {{videos|length}}
            // Create content inside pagination element
            $("#Pagination").pagination(num_entries, {
                //callback: pageselectCallback,
                items_per_page:20, // Show only one item per page
                link_to:"{{ path('mimizik_tops',{'page':'__id__'})}}",
                current_page:{{page-1}},
                prev_text:"Prèc.",
                next_text:"Suiv.",
                num_edge_entries:2,
                num_display_entries:8,
                callback:function(){}
            });
         }

        // When document is ready, initialize pagination
        $(document).ready(function(){      
            initPagination();
        });
    </script>
    
{% endblock%}