<div class="miniApercuVideo">
    <h2>        
        <p class="miniArtisteVideo">
        {% for artiste in video.artistes %}        
            {% if loop.last %}
            <a href="{{path('spicy_site_artiste_slug',{'id':artiste.id,"slug":artiste.slug})}}">{{artiste.libelle}}</a>
            {% elseif loop.first %}
            <a href="{{path('spicy_site_artiste_slug',{'id':artiste.id,"slug":artiste.slug})}}">{{artiste.libelle}}</a> &
            {% else %}
            <a href="{{path('spicy_site_artiste_slug',{'id':artiste.id,"slug":artiste.slug})}}">{{artiste.libelle}}</a> ,
            {%endif%}        
        {% else %}
            <p>Inconnu</p>
        {% endfor%}
        </p>
        <a href="{{path('spicy_site_video_slug',{"id":video.id,"slug":video.slug})}}">
            <p class="miniTitreVideo">{{video.titre}}</p>
        </a>
    </h2>
    <a href="{{path('spicy_site_video_slug',{"id":video.id,"slug":video.slug})}}">
        <p class="miniImgYoutube" style="background-image:url(http://img.youtube.com/vi/{{video.url}}/0.jpg)"></p>
    </a>
</div>
