<div class="miniApercuVideo">
    <h2>     
        <p class="miniArtisteVideo">
        {% set nbletter=0%}
        {% for artiste in video.artistes %} 
            {% if nbletter<20 %}
                <a href="{{path('spicy_site_artiste_slug',{'id':artiste.id,"slug":artiste.slug})}}">{{artiste.libelle}}</a>
                
                {%set nbletter=nbletter+artiste.libelle|length%}
                
                {% if loop.length==2 and loop.first and nbletter<20%}
                &
                {% elseif loop.length>2 and loop.revindex>2 and nbletter<20%}
                ,
                {% elseif loop.last==false and nbletter<20%}
                &
                {%endif%}
            {%endif%}
            
        {% else %}
            <p>Inconnu</p>
        {% endfor%}
        </p>
        <a href="{{path('spicy_site_video_slug',{"id":video.id,"slug":video.slug})}}">
            <p class="miniTitreVideo">{{video.titre}}</p>
        </a>
    </h2>
    <a href="{{path('spicy_site_video_slug',{"id":video.id,"slug":video.slug})}}">
        <p class="miniImgYoutube" style="background-image:url(http://img.youtube.com/vi/{{video.url}}/0.jpg)"></p>
    </a>
</div>
