<div class="post">
    <div class="image floatleft video-thumbnail" >
        <a href="{{path('spicy_site_video_slug',{"id":video.id,"slug":video.slug})}}">
            <img src="http://img.youtube.com/vi/{{video.url}}/0.jpg" width="240" height="180" alt="{{video.titre}} mimizik" />
        </a>
        <a class="caption" href="{{path('spicy_site_video_slug',{"id":video.id,"slug":video.slug})}}">
            <span>{{video.artistes|artistsName(20)|raw}} - {{video.titre}} </span>
        </a>
    </div>
    <div class="floatleft infos_video">
        <h3 class="artistes post-title">
            {{video.artistes|artistsNameLink(20)|raw}}
        </h3>
        <h4 class="titre">
            <a title="{{video.artistes|artistsName(20)|raw}} - {{video.titre}}" href="{{path('spicy_site_video_slug',{"id":video.id,"slug":video.slug})}}">
                {{video.titre}}
            </a>
        </h4>
        <p class="description">
            {{video.description| truncate(40, true, '...')}}
        </p>
        <p class="date">{{video.dateVideo|date('d/m/y')}}</p>
        <p class="bouton">
            <a title="{{video.artistes|artistsName(20)|raw}} - {{video.titre}}" class="button small" href="{{path('spicy_site_video_slug',{"id":video.id,"slug":video.slug})}}">
            <span>Plus d'infos</span>
            </a>
        </p>
    </div>

</div>