{% extends "SpicySiteBundle::layout.html.twig" %}

{% block title %}
{{ parent() }} : Comment soumettre une vidéo sur Mimizik.com?
{% endblock %}

{% block meta_description %}
    <meta name="Description" content="Comment soumettre une vidéo sur Mimizik.com?"/> 
{% endblock %}

{% block body %}
<div class="contact">   
    {{ parent() }}
    <div class="page-title wrapper">
        <div class="container">
            <span><h2>Comment soumettre une vidéo sur Mimizik.com?</h2></span>
            <div class="clear"></div>
        </div>
    </div>
    <div class="container" id="main_container" >
        <div class="two-third column">    
            <div class="content-block">
                <div class="block-title"><span>Inscription</span></div>
                <div class="block-content">
                    <p>Il faut s'incrire sur Mimizik en tant que contributeur<br/><br/>
                        <img src="{{asset('images/contact/approval/inscription.PNG')}}"  alt="inscription" />
                    </p>
                </div>
            </div>
            <div class="content-block">
                <div class="block-title"><span>Soumission</span></div>
                <div class="block-content">
                    <p>Appuyer sur le bouton "Soumettre une vidéo"<br/><br/>
                    <img src="{{asset('images/contact/approval/btn_approval.PNG')}}" width='580'  alt="btn_approval" /></p>
                </div>
            </div>
            <div class="content-block">
                <div class="block-title"><span>Formulaire</span></div>
                <div class="block-content">
                    <p>Remplir le formulaire avec les infomations de la vidéo.
                        <i>Si le genre ou les artistes ne sont pas présents , il faut le préciser dans la description</i><br/><br/>
                    <img src="{{asset('images/contact/approval/submit_form.PNG')}}"  alt="submit_form" /></p>
                </div>
            </div>
            <div class="content-block">
                <div class="block-title"><span>Règles</span></div>
                <div class="block-content">
                    <p>Un petit rappel des règles de Mimizik.com : 
                        <ul>
                            <li>Pour l'instant nous ne publions que les vidéos clip Youtube de bonne qualité.</li>
                            <li>Les montages peuvent être acceptés à condition d'être de bonne qualité.</li>
                            <li>Si vous ne possédez pas de chaîne Youtube nous pouvons publier la vidéo pour vous sur notre chaine.</li>
                        </ul>
                    </p>
                </div>
            </div>  
                
            {#<div class="content-block">
                <div class="block-title"><span>Publicité</span></div>
                <div class="block-content">
                    <p>En plus de faire la promotion des artistes et de leurs créations, Mimizik fait également la place aux
                    annonces publicitaires (évènement, shopping...).<br/>
                    Nos emplacements sont les suivants : </p>
                    <ul>
                        <li>Publicité avant montage video top  </li>
                        <li>Publicité dans video top </li>
                        <li>
                            Habillage home<br/>
                            ( 1600~ x1500) 300px sur les cotés + 1000px au centre + &eacute;ventuellement 300px en haut x 1000px de long mini  
                            <a href="#" data-reveal-id="modal_home">&curvearrowright; aperçu</a>
                        </li>
                        <li>Bannière en haut home (1000x80~) <a href="#" data-reveal-id="modal_haut">&curvearrowright; aperçu</a></li>
                        <li>Encart droit home (270x300~) </li>
                        <li>Couverture page fb et twitter </li>
                        <li>Mise en avant fb et twitter </li>
                    </ul>
                </div>
            </div>#}
        </div>
        <div class="one-third column last">
            <div class="content-block">
                <div class="block-content">
                    <p>Pour tous renseignements, promotions et montage vidéo veuillez nous contacter:</p><br/>
                    <p>Developpeur/Administrateur : <br/><a href="mailto:{{email_contact}}">Franchesco971 ({{email_contact}})</a></p>
                    <p>Graphisme : <a href="mailto:{{email_contact}}">Peach vivi</a></p>
                    <br/>
                    <h3>Liens</h3>
                    <p>Facebook: <a href="https://www.facebook.com/mimizikcom" target="_blank">mimizikcom</a></p>
                    <p>Twitter : <a href="https://twitter.com/mimizikcom" target="_blank">mimizikcom</a></p>
                    <p>Youtube: <a href="https://www.youtube.com/user/mimizikcom" target="_blank">mimizikcom</a></p>
                    <p>S'abonner aux flux des vidéos: <a href="http://www.mimizik.com/flux/videos" target="_blank">flux</a></p>
                </div>
            </div>
        </div>
    </div>
    
    {#<div id="modal_home" class="reveal-modal modal_apercu">
        <h1>Aperçu Habillage home</h1>
        <p><img src="{{asset('images/contact/testbackground3.png')}}"  alt="habillage home" /></p>
        <a class="close-reveal-modal">&#215;</a>
    </div>
    
    <div id="modal_haut" class="reveal-modal modal_apercu">
        <h1>Aperçu Habillage haut</h1>
        <p><img src="{{asset('images/contact/bg_haut.png')}}"  alt="habillage haut" /></p>
        <a class="close-reveal-modal">&#215;</a>
    </div>#}
</div>
{%endblock%}
