<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">
    <head>
        <title>
           {% block title %}
                Mimizik - Toutes les vidéos clip et la musique des antilles, de la caraïbes et de la guyane. Tout mizik la!
            {% endblock %}
        </title>
        
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        {% block meta_description %}
        <meta name="Description" content="Mimizik est un site promotion de la musique des artistes et des vidéos clip des antilles, de la caraïbes et de la guyane. Il y a tous genres musicaux (zouk, dancehall, hip-hop...) et la vidéo rétro de la semaine..."/> 
        {% endblock %}
        {% block stylesheets %}
            {% stylesheets filter='cssrewrite,?yui_css' output='css/compiled/main_admin2.css'
                'css/style.css'
                'css/style2.css'%}
                <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/png" href="{{asset('images/video.png')}}" />
        <link rel="shortcut icon" type="image/x-icon" href="{{asset('images/video.ico')}}" />
        <link rel="alternate" type="application/rss+xml" title="videos" href="{{website_name}}{{path('spicy_site_flux_videos')}}" />
    </head>
    
    <body>
        <div class="header">
            <div class="supheader wrapper">
                <div class="container">
                    <div class="logo">
                        <span>Mimizik</span>
                    </div><!--/ logo-->
                    <!--<div class="user-links">
                            <div class="button-container">
                                    <a class="button small dark login-link" href="#"><span>Sign In</span></a>
                            </div>		
                    </div>--><!--/ user links-->	
                    <div class="social-links">
                        <a title="Facebook" class="facebook" href="https://www.facebook.com/mimizikcom" target="_blank"></a>								
                        <a title="Youtube" class="youtube" href="https://www.youtube.com/user/mimizikcom" target="_blank"></a>
                        <a title="Twitter" class="twitter" href="https://twitter.com/mimizikcom" target="_blank"></a>
                        <a title="Flux" class="rss" href="http://www.mimizik.com/flux/videos" target="_blank"></a>
                    </div><!--/ social links-->				
                    <div class="clear"></div>
                </div>			
            </div>
            <div id="menu" class="subheader">
                <div class="container" >
                    <div class="menu" >
                        <ul id="menu-main-menu" class="menu">
                            <li><a href="{{path('spicy_site_homepage')}}">Accueil</a></li>
                            <li><a href="{{path('spicy_site_artistes')}}">Artistes</a></li>
                            <li>
                                <a href="{{path('spicy_site_genres')}}">Genre musicaux</a>
                                {{ render(controller("SpicySiteBundle:Site:genres"))}}
                            </li>
                            <li><a href="{{path('spicy_site_contact')}}">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="body">
           <div class="container" id="main_container" >
                <div class="content-block">         
          	{% block body %}
                {% endblock %}
                </div>
           </div>
        </div>
        <div class="footer wrapper">
            <div class="background">
                <div class="container">				
                    <div class="menu">
                        <ul id="menu-footer-menu" class="menu">
                            <li><a href="{{path('spicy_site_homepage')}}">Accueil</a></li>
                            <li><a href="{{path('spicy_site_artistes')}}">Artistes</a></li>
                            <li><a href="{{path('spicy_site_genres')}}">Genre musicaux</a></li>
                            <li><a href="{{path('spicy_site_contact')}}">Contact</a></li>
                        </ul>
                    </div>				
                    <div class="copyright">Mimizik &copy; 2013</div>
                    <div class="clear"></div>
                </div>
            </div>
	</div>
    
    <div id="fb-root"></div>
    {% block javascripts %}
        <script type="text/javascript" src="{{asset('js/jquery-1.10.2.min.js')}}" ></script>
        <script type="text/javascript" src="{{asset('js/jquery.pagination.js')}}" ></script>
        <!-- analytics -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-42850691-1', 'mimizik.com');
            ga('send', 'pageview');

          </script>
    {% endblock %}
    
    </body>
</html>
