<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">
    <head>
        <title>
           {% block title %}
                Mimizik - Toutes les vidéos clip et la musique des antilles, de la caraïbes et de la guyane. Tout mizik la!
            {% endblock %}
        </title>
        
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        {% block meta_description %}
        <meta name="Description" content="Mimizik est un site promotion de la musique des artistes et des vidéos clip des antilles, de la caraïbes et de la guyane. Il y a tous genres musicaux (zouk, dancehall, hip-hop...) et la vidéo rétro de la semaine..."/> 
        {% endblock %}
        <!--<meta http-equiv="Content-Language" content="fr">-->
        {% block stylesheets %}
            <link rel="stylesheet" href="{{asset('css/style.css')}}" type="text/css" />		
            <link rel="stylesheet" href="{{asset('css/reset.css')}}" type="text/css" />
        {% endblock %}
        <link rel="icon" type="image/png" href="{{asset('images/video.png')}}" />
        <link rel="shortcut icon" type="image/x-icon" href="{{asset('images/video.ico')}}" />
        <link rel="alternate" type="application/rss+xml" title="videos" href="{{website_name}}{{path('spicy_site_flux_videos')}}" />
    </head>
    
    <body>
        <div id="page">
            <div id="header">
                <div id="gros_logo" >
                    <img src="{{asset('images/groslogo.png')}}" border="0" alt="gros logo mimizik" />
                </div>
                <div id="titre_description" class="floatleft">                   
                    <div id="titre">
                        <h1><img id="petit_logo" src="{{asset('images/petitlogo.png')}}" border="0" alt="mizik" />
                        <img id="titre_img" src="{{asset('images/nomsite.png')}}" border="0" alt="mimizik.com" />
                        </h1>
                    </div>
                    <div id="description">
                        <p>
                            La promotion de la musique des artistes et des vidéos clip des antilles, de la caraïbes et de la guyane.<br/>
                            Pou mizik la monté pli o! Zouk, Dancehall, reggae, hip-hop....
                        </p>
                    </div>                    
                </div>
                <div id="network">
                    <p style="color: white">Facebook</p>
                    <div class="fb-like" data-href="https://www.facebook.com/mimizikcom" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false" data-font="arial"></div>
                </div>
            </div>
            <div id="menu">
                
                <div class="menuTexte"><a href="{{path('spicy_site_homepage')}}">Accueil</a></div>
                <div class="menuTexte"><a href="{{path('spicy_site_artistes')}}">Artistes</a></div>
                <div class="menuTexte"><a href="{{path('spicy_site_genres')}}">Genre musicaux</a></div>
                <div class="menuTexte"><a href="{{path('spicy_site_contact')}}">Contact</a></div>  
            </div>
            <div id="recherche">
                <script>
                (function() {
                  var cx = '002998674673804737708:kp1nwfez6i8';
                  var gcse = document.createElement('script');
                  gcse.type = 'text/javascript';
                  gcse.async = true;
                  gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                      '//www.google.com/cse/cse.js?cx=' + cx;
                  var s = document.getElementsByTagName('script')[0];
                  s.parentNode.insertBefore(gcse, s);
                })();
              </script>
              <gcse:search></gcse:search>
            </div>
            
            <div id="body">
            {% block body %}
            
            {%endblock%}
            </div>
        </div>
        <div id="fb-root"></div>        
        {% block javascripts %}
        <script type="text/javascript">
                (function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return;
                  js = d.createElement(s); js.id = id;
                  js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1";
                  fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
        </script>
        <script type="text/javascript">
            window.___gcfg = {lang: 'fr'};

            (function() {
              var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
              po.src = 'https://apis.google.com/js/plusone.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
            })();
        </script>
        <script>
            !function(d,s,id){
                var js,fjs=d.getElementsByTagName(s)[0];
                if(!d.getElementById(id))
                {js=d.createElement(s);
                    js.id=id;js.src="https://platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js,fjs);
                }            
            }
            (document,"script","twitter-wjs");
       </script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <script type="text/javascript" src="{{asset('js/jquery.pagination.js')}}" ></script>
        <!-- analytics -->
        <script type="text/javascript">
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-42850691-1', 'mimizik.com');
            ga('send', 'pageview');

          </script>
        {% endblock %}
    </body>
</html>
