<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">
    <head>
        <title>
           {% block title %}
                Spicy site - Site de promotion des vidéos clips des îles
            {% endblock %}
        </title>
        
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <meta name="Description" content="site de promotion des vidéos clips des îles"/> 
        <!--<meta http-equiv="Content-Language" content="fr">-->
        {% block stylesheets %}
            <link rel="stylesheet" href="{{asset('css/style.css')}}" type="text/css" />		
            <link rel="stylesheet" href="{{asset('css/reset.css')}}" type="text/css" />
        {% endblock %}
        <link rel="icon" type="image/png" href="{{asset('images/video.png')}}" />
        <link rel="shortcut icon" type="image/x-icon" href="{{asset('images/video.ico')}}" />
        <link rel="alternate" type="application/rss+xml" title="videos" href="{{website_name}}{{path('spicy_site_flux_videos')}}" />
    </head>
    
    <body>
        <div id="page">
            <div id="menu">
                <div>
                    <img id="petit_logo" src="{{asset('images/petit_logo.png')}}" border="0" alt="petit logo" />
                </div>
                <div class="menuTexte"><a href="{{path('spicy_site_homepage')}}">Accueil</a></div>
                <div class="menuTexte"><a href="{{path('spicy_site_artistes')}}">Artistes</a></div>
                <div class="menuTexte"><a href="{{path('spicy_site_genres')}}">Genre musicaux</a></div>
                <div class="menuTexte"><a href="{{path('spicy_site_contact')}}">Contact</a></div>
                <div class="menuTexte"><a href="{{path('spicy_site_credits')}}">Crédits</a></div>
                <div class="menuTexte">
                    <p>Sur facebook</p>
                    <!--<div class="fb-like" data-href="http://www.videos.besaba.com" data-send="false" data-layout="button_count" 
                         data-width="100" data-show-faces="false" data-font="trebuchet ms"></div>-->
                    <div class="fb-follow" data-href="https://www.facebook.com/mimizik" data-layout="button_count" data-show-faces="true" data-width="450">
                    </div>
                </div>
            </div>
            <div id="header">
                <div id="gros_logo" class="floatleft"><img src="{{asset('images/gros_logo.png')}}" border="0" alt="gros logo" /></div>
                <div id="titre_description" class="floatleft">
                    <div id="titre"><h1>MiMizik.com <span style="color:red">(En contruction)</span></h1></div>
                    <div id="description">
                        <p>Bienvenue sur le site de promotion des vidéos clips des îles</p>
                    </div>
                </div>
            </div>
            <div id="body">
            {% block body %}
            
            {%endblock%}
            </div>
        </div>
        <div id="fb-root"></div>        
        {% block javascripts %}
        <script type="text/javascript">
                (function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return;
                  js = d.createElement(s); js.id = id;
                  js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1";
                  fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
        </script>
        <script type="text/javascript">
            window.___gcfg = {lang: 'fr'};

            (function() {
              var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
              po.src = 'https://apis.google.com/js/plusone.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
            })();
        </script>
        <script>
            !function(d,s,id){
                var js,fjs=d.getElementsByTagName(s)[0];
                if(!d.getElementById(id))
                {js=d.createElement(s);
                    js.id=id;js.src="https://platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js,fjs);
                }            
            }
            (document,"script","twitter-wjs");
       </script>
        {% endblock %}
    </body>
</html>{# empty Twig template #}
