<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" xmlns:og="http://ogp.me/ns#">
    <head>
        <title>{% block title %}Mimizik - Toutes les vidéos clip et la musique des antilles, de la caraïbes et de la guyane. Tout mizik la!{% endblock %}</title>
        
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
{#        <meta name="google-signin-client_id" content="286880270017-n438moatedvbo22leu2v2u3qnsf0vlht.apps.googleusercontent.com">#}
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        {% block meta_description %}
            <meta name="Description" content="Mimizik est un site promotion de la musique des artistes et des vidéos clip des antilles, de la caraïbes et de la guyane. Il y a tous genres musicaux (zouk, dancehall, hip-hop...) antillais réunion haïti" />
            <meta property="og:title" content="Mimizik" />
            <meta property="og:type" content="website" />
            <meta property="og:image" content="{{asset('images/logo.png')}}" />
            <meta property="og:url" content="{{website_name}}" />            
        {% endblock %}
        {% block stylesheets %}
            {% stylesheets filter='cssrewrite,?yui_css' output='css/compiled/main.css'
                'css/style.css'
                'css/style2.css'
                'css/reveal.css'
                'css/pagination.css'
                'css/form.css'
                'css/sideNav.css'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
            {% endstylesheets %}
        {% endblock %}
        <!-- Latest compiled and minified CSS -->
{#        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">#}

        <!-- Optional theme -->
{#        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">#}
        
        <link rel="icon" type="image/png" href="{{asset('images/video.png')}}" />
        <link rel="shortcut icon" type="image/x-icon" href="{{asset('images/icone.gif')}}" />
        <link rel="alternate" type="application/rss+xml" title="videos" href="{{website_name}}{{path('spicy_site_flux_videos')}}" />
        <!-- analytics -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-42850691-1', 'auto');
            ga('send', 'pageview');
        </script>
    </head>
    
    <body>
        <div class="header">
            <div class="supheader wrapper">
                <div class="container" id="login">
                    <div class="logo">
                        <a href="{{path("spicy_site_homepage")}}">
                            <img src="{{asset('images/logo100rouge.png')}}"  alt="Logo mimizik" />
                        </a>
                        <h1 style="display:none">Mimizik</h1>
                    </div>	
                    <div class="social-links">
                        <a title="Facebook" class="facebook" href="https://www.facebook.com/mimizikcom" target="_blank"></a>								
                        <a title="Youtube" class="youtube" href="https://www.youtube.com/user/mimizikcom" target="_blank"></a>
                        <a title="Twitter" class="twitter" href="https://twitter.com/mimizikcom" target="_blank"></a>
                        <a title="Google+" class="google" href="https://plus.google.com/+Mimizik" target="_blank"></a>
                        <a title="Flux" class="rss" href="http://www.mimizik.com/flux/videos" target="_blank"></a>
                    </div><!--/ social links-->
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        {% if is_granted('ROLE_CONTRIBUTOR') or is_granted('ROLE_ADMIN')%}
                            <div  class="button dark large blockright">
                                <a id="btn_approval" href="{{path('approval_new')}}"><span>Soumettre une vidéo</span></a>
                            </div>
                        {% endif%}
                        <div  class="button dark large blockright">                            
                            <a id="btn_disconnect" href="{{path('fos_user_security_logout')}}"><span>Se Déconnecter</span></a>                            
                        </div>           
                            <div  class="large blockright message">Hello <a href="{{path('fos_user_profile_show')}}">{{ app.user.username }}</a>!!</div>
                    {% else %}
                        <div  class="button dark large blockright" id="btn-login" >
                            <a class="modal_connect" style=""><span>Se connecter</span></a>                            
                        </div>
                    {% endif%}
                    <div class="clear"></div>
                </div>			
            </div>
                    
            <div id="mySidenav" class="sidenav">
                <span href="javascript:void(0)" class="closebtn" >&times;</span>
                <a title="Accueil Mimizik" href="{{path('spicy_site_homepage')}}">Accueil</a>
                <a title="Liste des artistes" href="{{path('spicy_site_artistes')}}">Artistes</a>
                <a title="Hashtags" href="{{path('mimizik_hashtag')}}">Hashtags</a>
                <a title="Tops" href="{{path('mimizik_tops')}}">Tops</a>
                <button class="dropdown-btn">Classements >
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    <a title="Classements mensuel" href="{{path('mimizik_ranking_index')}}">Mensuel</a>
                    <a title="Classements annuel" href="{{path('mimizik_year_ranking_index')}}">Annuel</a>
                </div>
                <a title="Contact" href="{{path('spicy_site_contact')}}">Contact</a>
                <button class="dropdown-btn">Genres >
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container" id="sideGenreMenu">
                </div>
                <a class="modal_connect"><span>Se connecter</span></a>
            </div>        
            <div id="menu" class="subheader">
                <div class="container" >
                    <span id="btnNav">&#9776; Menu</span>
                    <div class="menu" >
                        <ul id="menu-main-menu" class="menu">
                            <li><a title="Accueil Mimizik" href="{{path('spicy_site_homepage')}}">Accueil</a></li>
                            <li><a title="Liste des artistes" href="{{path('spicy_site_artistes')}}">Artistes</a></li>
                            <li id="genresMenu">                                
                            </li>
                            <li><a title="Hashtags" href="{{path('mimizik_hashtag')}}">Hashtags</a></li>
                            <li><a title="Tops" href="{{path('mimizik_tops')}}">Tops</a></li>
                            <li>
                                <a>Classements</a>
                                <ul class="sub-menu" >
                                    <li><a title="Classements mensuel" href="{{path('mimizik_ranking_index')}}">Mensuel</a></li></li>
                                    <li><a title="Classements annuel" href="{{path('mimizik_year_ranking_index')}}">Annuel</a></li></li>
                                </ul>
                            </li>    
                            <li><a title="Contact" href="{{path('spicy_site_contact')}}">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="body">                    
          	{% block body %}
                {% endblock %}
        </div>
        <div class="footer wrapper">
            <div class="background">
                <div class="container">				
                    <div class="menu">
                        <ul id="menu-footer-menu" class="menu">
                            <li><a title="Accueil Mimizik" href="{{path('spicy_site_homepage')}}">Accueil</a></li>
                            <li><a title="Liste des artistes" href="{{path('spicy_site_artistes')}}">Artistes</a></li>
                            <li><a title="Genres musicaux" href="{{path('spicy_site_genres')}}">Genres musicaux</a></li>
                            <li><a title="Hashtags" href="{{path('mimizik_hashtag')}}">Hashtags</a></li>
                            <li><a title="Tops" href="{{path('mimizik_tops')}}">Tops</a></li>
                            <li><a title="Classements" href="{{path('mimizik_ranking_index')}}">Classements</a></li>
                            <li><a title="Contact" href="{{path('spicy_site_contact')}}">Contact</a></li>
                        </ul>
                    </div>				
                    <div class="copyright">Mimizik &copy; {{ "now"|date("Y") }}</div>
                    <div class="clear"></div>
                </div>
            </div>
	</div>
    
    <div id="fb-root"></div>
    <div id="global_modal" class="reveal-modal">
        <div class="content">
            <div class="content-block">
                <div class="block-title ">
                    <span class="aligncenter">Connectez-vous</span>
                </div>
                <div class="block-content connection">
                    <div class="row">
                        <div class="col-md-3">
                            <a href="#" id="google_signin_link"><img src="{{asset('images/login_google_480.png')}}"></a>
                        </div>
                    </div>
                    <div class="divider row col-md-12"></div>
                    <div class="row">
                        <div class="col-md-3">
                            <a href="#" id="fb_signin_link"><img src="{{asset('images/login_fb_480.png')}}"></a>
                        </div>
                    </div>
                    <div class="divider row col-md-12"></div>
                    <div class="row">
                        <div class="col-md-3"><div class="button dark large">
                            <a id="btn_register" style="" href="{{path('fos_user_security_login')}}"><span>Se connecter avec Mimizik</span></a>
                        </div></div>
                    </div>
                    <div class="divider row col-md-12"></div>
                </div>
                
            </div>
            
            <div class="content-block">
                <div class="block-title"><span>Inscription</span></div>
                <div class="block-content registration">
                    <div class="button dark large" style=""><a id="btn_register" style="" href="{{path('fos_user_registration_register')}}"><span>S'inscrire</span></a></div>
                </div>
            </div>
        </div>
        <a class="close-reveal-modal">&#215;</a>
    </div>
    {% block javascripts %}
        <script type="text/javascript" src="{{asset('js/jquery-2.1.1.min.js')}}" ></script>
        {% javascripts  filter='?yui_js' output='js/compiled/main.js'
            'js/jquery.fadeSlider.js'
            'js/jquery.hoverIntent.min.js'
            'js/jquery.custom.js'
            'js/jquery.pagination.js'
            'js/jquery.reveal.js' 
            'js/service/genreService.js'
            'js/service/sideNavService.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}" ></script>
        {% endjavascripts %}    
        
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <noscript>Your browser does not support JavaScript!</noscript>
        
        <script type="text/javascript">
            var model_genre_link = "{{ path('spicy_site_genre',{'id':0,'slug':'-slug-'})}}";
            var linkAjax = "{{ path('mimizik_genres_menu')}}";
            var dropdown = document.getElementsByClassName("dropdown-btn");

            // When document is ready, initialize pagination
            $(document).ready(function(){      
                genreService.initGenreMenu(linkAjax, model_genre_link);
                
                $(".modal_connect").click(function(){ 
                    $('#global_modal').reveal();
                    return false;
                });
                
                $("#menu #btnNav").click(function() {
                    document.getElementById("mySidenav").style.width = "250px";
                });
                
                $("#mySidenav .closebtn").click(function() {
                    document.getElementById("mySidenav").style.width = "0";
                });                
                
                sideNavService.init(dropdown);
                
            });
        </script>
        <script>
        window.fbAsyncInit = function() {
            // init the FB JS SDK
            FB.init({
                appId      : '729891760354276',
                //appId      : '1559467677396676', //dev                     // App ID from the app dashboard
                //channelUrl : '//yourdomain.com/channel.html',      // Channel file for x-domain comms
                status     : true,                                 // Check Facebook Login status
                xfbml      : true ,                                 // Look for social plugins on the page
                version    : 'v2.3'
            });
        };

        // Load the SDK asynchronously
        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        
        //google
        window.___gcfg = {lang: 'fr'};
        (function() {
          var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
          po.src = 'https://apis.google.com/js/plusone.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();

        var fb_login = function() {
            FB.getLoginStatus(function(response) {
                if (response.status === 'connected') {
                    // connected
                    alert('Already connected, redirect to login page to create token.');
                    document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
                } else {
                    // not_authorized
                    FB.login(function(response) {
                        if (response.authResponse) {
                            document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
                        } else {
                            alert('Cancelled.');
                        }
                    }, {scope: 'email'});
                }
            });
        };
        
        {#var onSignIn=function (googleUser) {
            var profile = googleUser.getBasicProfile();
            console.log(profile);
            console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
            console.log('Name: ' + profile.getName());
            console.log('Image URL: ' + profile.getImageUrl());
            console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
            document.location = "{{ url("hwi_oauth_service_redirect", {service: "google"}) }}";
        };#}
        
        var google_signin = function() {
            document.location = "{{ url("hwi_oauth_service_redirect", {service: "google"}) }}";
        };

        var signOut = function () {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
              console.log('User signed out.');
            });
        };
        
        $("#google_signin_link").on("click",function(){
            google_signin();
        });
        
        $("#fb_signin_link").on("click",function(){
            fb_login();
        });
        
    </script>
    {% endblock %}
    
    </body>
</html>
