<div class="block-title"><span>Social</span></div>
<div class="block-content">
    <div class="fb-like floatleft" data-href="{{website_name}}{{path('spicy_site_video_slug',{'id':video.id,'slug':video.slug})}}" data-send="true" data-layout="box_count" 
     data-width="400" data-show-faces="true"></div>
    <div class="g-plusone" data-size="tall" data-href="{{website_name}}{{path('spicy_site_video_slug',{'id':video.id,'slug':video.slug})}}">
    </div>
    <div class="twitter-like">
        <a href="https://twitter.com/share" class="twitter-share-button floatleft" 
           data-url="{{website_name}}{{path('spicy_site_video_slug',{'id':video.id,'slug':video.slug})}}" 
           data-via="mimizik" data-lang="fr"  data-count="vertical">Tweet</a>
    </div>
</div>