{% extends "SpicySiteBundle::layout_admin.html.twig" %}

{% block body %}
{{ parent() }}
    <h3>Modification</h3>

    {{ form_start(form, {'method': 'POST', 'action': path('approval_update', {'id': entity.id})}) }}
        <input name="_method" value="PUT" type="hidden">
        {{ form_errors(form) }}
        <div class="label">
            {{ form_label(form.title.titre) }}&nbsp;&#42; 
            {{ form_errors(form.title.titre) }}
        </div>
        <div class="input">
            {{ form_widget(form.title.titre) }}
        </div>
    
        <div class="label">
            {{ form_label(form.title.url) }}&nbsp;&#42;
            {{ form_errors(form.title.url) }}
        </div>
        <div class="input">
            {{ form_widget(form.title.url) }}
        </div>
        
        <div class="label">
            {{ form_label(form.title.tags_fb) }}&nbsp;<span title='Séparé par une virgule'>&#128712;</span>
            {{ form_errors(form.title.tags_fb) }}
        </div>
        <div class="input">
            {{ form_widget(form.title.tags_fb) }}
        </div>
        
        <div class="label">
            {{ form_label(form.title.tags_twitter) }}&nbsp;<span title='Séparé par une virgule'>&#128712;</span>
            {{ form_errors(form.title.tags_twitter) }}
        </div>
        <div class="input">
            {{ form_widget(form.title.tags_twitter) }}
        </div>
        
        <div class="label">
            {{ form_label(form.title.hashtags) }}&nbsp;<span title='Ton ile,ton département'>&#128712;</span>
            {{ form_errors(form.title.hashtags) }}
        </div>
        <div class="input">
            {{ form_widget(form.title.hashtags) }}
        </div>
        
        <div class="label">
            {{ form_label(form.title.description) }}&nbsp;&#42;
            {{ form_errors(form.title.description) }}
        </div>
        <div class="input">
            {{ form_widget(form.title.description, {'attr': {'cols': 50,'rows':10} }) }}
        </div>
        
        <div class="label">
            {{ form_label(form.title.artistes) }}&nbsp;<span title='Si non présent dans la liste, spécifier dans la description'>&#128712;</span>
            {{ form_errors(form.title.artistes) }}
        </div>
        <div class="input">
            {{ form_widget(form.title.artistes) }}
        </div>
        
        <div class="label">
            {{ form_label(form.title.genre_musicaux) }}&nbsp;<span title='Si non présent dans la liste, spécifier dans la description'>&#128712;</span>
            {{ form_errors(form.title.genre_musicaux) }}
        </div>
        <div class="input">
            {{ form_widget(form.title.genre_musicaux) }}
        </div>
        
        <div class="button">
            <span>
            {{ form_row(form.submit, { 'label': 'Modifier la vidéo','attr': {'class': 'button btn btn-primary'} }) }}
            {{ form_rest(form) }}
            </span>
        </div>
    {{ form_end(form) }}

        {#<ul class="record_actions">
    <li>
        <a href="{{ path('approval') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>#}
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript">
        $("select").select2({
            width: '200px'
        });
    </script>
{% endblock %}
