{% extends "SpicySiteBundle::layout_admin.html.twig" %}

{% block stylesheets %}
    {{ parent() }}    
{#    <link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}" type="text/css" />#}
{% endblock %}

{% block analytics %}
    <!-- analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-42850691-1', 'auto');
        ga('send', 'pageview');
    </script>
{% endblock %}

{% block body %}
{{ parent() }}
    <h3>Soumettre une vidéo</h3>
    
    <form action="{{ path('approval_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        <div class="label">
            {{ form_label(form.title.titre) }}&nbsp;&#42; 
            {{ form_errors(form.title.titre) }}
        </div>
        <div class="input">
            {{ form_widget(form.title.titre) }}
        </div>
        
        <div class="label">
            {{ form_label(form.title.url) }}&nbsp;&#42;
            {{ form_errors(form.title.url) }}
        </div>
        <div class="input">
            {{ form_widget(form.title.url) }}
        </div>
        
        {#<div class="label">
            {{ form_label(form.title.dateVideo) }}
            {{ form_errors(form.title.dateVideo) }}
        </div>
        <div class="input">
            {{ form_widget(form.title.dateVideo) }}
        </div>#}
        
        {#<div class="label">
            {{ form_label(form.title.etat) }}
            {{ form_errors(form.title.etat) }}
        </div>
        <div class="input">
            {{ form_widget(form.title.etat) }}
        </div>#}
        
        {#<div class="label">
            {{ form_label(form.title.onTop) }}
            {{ form_errors(form.title.onTop) }}
        </div>
        <div class="input">
            {{ form_widget(form.title.onTop) }}
        </div>#}
        
        {#<div class="label">
            {{ form_label(form.title.source) }}
            {{ form_errors(form.title.source) }}
        </div>
        <div class="input">
            {{ form_widget(form.title.source) }}
        </div>#}
        
        <div class="label">
            {{ form_label(form.title.tags_fb) }}&nbsp;<span title='Séparé par une virgule'>&#128712;</span>
            {{ form_errors(form.title.tags_fb) }}
        </div>
        <div class="input">
            {{ form_widget(form.title.tags_fb) }}
        </div>
        
        <div class="label">
            {{ form_label(form.title.tags_twitter) }}&nbsp;<span title='Séparé par une virgule'>&#128712;</span>
            {{ form_errors(form.title.tags_twitter) }}
        </div>
        <div class="input">
            {{ form_widget(form.title.tags_twitter) }}
        </div>
        
        <div class="label">
            {{ form_label(form.title.hashtags) }}&nbsp;<span title='Ton ile,ton département'>&#128712;</span>
            {{ form_errors(form.title.hashtags) }}
        </div>
        <div class="input">
            {{ form_widget(form.title.hashtags) }}
            {#<a href="#" data-reveal-id="modal_hashtag" id="modal_new_hashtag">Cr&eacute;e un hashtag</a>
            <div class="loading"></div>#}
        </div>
        
        <div class="label">
            {{ form_label(form.title.description) }}&nbsp;&#42;
            {{ form_errors(form.title.description) }}
        </div>
        <div class="input">
            {{ form_widget(form.title.description, {'attr': {'cols': 50,'rows':10} }) }}
        </div>
        
        <div class="label">
            {{ form_label(form.title.artistes) }}&nbsp;<span title='Si non présent dans la liste, spécifier dans la description'>&#128712;</span>
            {{ form_errors(form.title.artistes) }}
        </div>
        <div class="input">
            {{ form_widget(form.title.artistes) }}
        </div>
        
        {#<div class="label">
            {{ form_label(form.title.collaborateurs) }}
            {{ form_errors(form.title.collaborateurs) }}
        </div>
        <div class="input">
            {{ form_widget(form.title.collaborateurs) }}
            <a href="#" data-reveal-id="modal_hashtag" id="modal_new_collaborateur">Cr&eacute;e un collaborateur</a>
            <div class="loading"></div>
        </div>#}
        
        <div class="label">
            {{ form_label(form.title.genre_musicaux) }}&nbsp;<span title='Si non présent dans la liste, spécifier dans la description'>&#128712;</span>
            {{ form_errors(form.title.genre_musicaux) }}
        </div>
        <div class="input">
            {{ form_widget(form.title.genre_musicaux) }}
        </div>
        
        {#<div class="label">
            {{ form_label(form.title.type_videos) }}
            {{ form_errors(form.title.type_videos) }}
        </div>
        <div class="input">
            {{ form_widget(form.title.type_videos) }}
        </div>#}
        <div class="button">
            <span>
{#            <input type="submit" class="btn btn-primary" />#}
            {{ form_row(form.submit, { 'label': 'Soumettre la vidéo','attr': {'class': 'button btn btn-primary'} }) }}
            {{ form_rest(form) }}
            </span>
        </div>
    </form>
            
    <div id="modal_hashtag" class="reveal-modal">
        <div class="content"></div>
        <a class="close-reveal-modal">&#215;</a>
    </div>
{% endblock%}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript">
        $("select").select2({
            width: '200px'
        });
    </script>
{% endblock %}
