{% extends "SpicySiteBundle::layout.html.twig" %}

{% block title %}
{{ parent() }} : Retrouvez tous les hashtags de Mimizik
{% endblock %}

{% block meta_description %}
    <meta name="Description" content="Retrouvez tous les hashtags de Mimizik"/> 
{% endblock %}

{% block stylesheets %}
    {% stylesheets filter='cssrewrite,?yui_css'
        'css/pagination.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
    
    <div class="page-title wrapper">
        <div class="container">
            <span>Hashtags</span>
            <div class="clear"></div>
        </div>
    </div>
    <div class="content wrapper">
        <div class="container">
            <div class="two-third column">
                <div class="content-block">
                    <div class="block-content">
                        <table>
                            {% for entity in entities %}
                                <tr>
                                    <td><a href="{{ path('mimizik_tag_show', { 'tag': entity.libelle }) }}">#{{entity.libelle}}</a></td>
                                </tr>
                            {%else%}
                                <tr colspan="2"><td>Pas de hashtags</td></tr>
                            {% endfor %}
                        </table>
                        <div id="Pagination">          
                        </div>
                    </div>
                </div>
            </div>
            <div class="one-third column last">
                <div class="content-block">
                    <div class="block-content">
                        {% include "SpicySiteBundle:Ads:encart_droit_adsense.html.twig" %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
