{% extends "SpicySiteBundle::layout.html.twig" %}

{% block title %}
{{ parent() }} : Retrouvez toute la musique et les vidéos clip de {{tag.libelle}}
{% endblock %}

{% block meta_description %}
    <meta name="Description" content="Mimizik te propose toute la musique et les vidéos clip de {{tag.libelle}}"/> 
{% endblock %}
    
{% block stylesheets %}
    {% stylesheets filter='cssrewrite,?yui_css'
        'css/pagination.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
    
    <div class="page-title wrapper">
        <div class="container">
            <span>Tag</span>
            <div class="clear"></div>
        </div>
    </div>
    <div class="content wrapper">
        <div class="container">
            <div class="two-third column">
                <div>
                    <div class="un-tier column-perso">
                        <div class="block-content-perso">
                            <h3 class="release-title">#{{tag.libelle|upper}}</h3>
                        </div>
                    </div>
                </div>
                <div class="content-block">
                    <div class="block-title"><span>Vidéos</span></div>
                    <div class="block-content">
                        <div class="featured-blog">
                        {% for video in videos %}
                            {% include "SpicySiteBundle:Site:video_post.html.twig" %}
                            <div id="Pagination" ></div>
                        {%else%}
                            <p>Pas de vidéos avec ce tag</p>
                        {% endfor %}                            
                        </div>
                    </div>
                </div>
                <div>
                    <div id="banstex468x60">
                        {% include "SpicySiteBundle:Ads:468x60_banstex.html.twig" %}
                    </div>  
                </div>
            </div>
            <div class="one-third column last">
                <div class="content-block">
                    <div class="block-content" id="encart_droit">
                        {% include "SpicySiteBundle:Ads:encart_droit_adsense.html.twig" %}
                    </div>
                </div>
                <div class="content-block">
                    <div class="block-title"><span>Artistes</span></div>
                    <div class="block-content">
                        {% for sArtiste in artistes %}
                            {% include "SpicySiteBundle:Site:artiste_post.html.twig" %} 
                         {%else%}
                            <p>Pas d'artistes</p>
                         {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
    
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        function initPagination() {
            var num_entries = {{videos|length}}
            // Create content inside pagination element
            $("#Pagination").pagination(num_entries, {
                //callback: pageselectCallback,
                items_per_page:20, // Show only one item per page
                link_to:"{{ path('mimizik_tag_show',{'tag':tag.libelle,'page':'__id__'})}}",
                current_page:{{page-1}},
                prev_text:"Prèc.",
                next_text:"Suiv.",
                num_edge_entries:2,
                num_display_entries:8,
                callback:function(){}
            });
         }

        // When document is ready, initialize pagination
        $(document).ready(function(){      
            initPagination();
        });
    </script>
{% endblock %}
