{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Hashtag edit</h1>

    {{ form_start(edit_form, {'method': 'POST', 'action': path('hashtag_update', { 'id': entity.id })}) }}
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(edit_form) }}
        <p>
            <button type="submit">Edit</button>
        </p>
    {{ form_end(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_hashtag') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('hashtag_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
