{% extends "SpicySiteBundle::layout.html.twig" %}

{% block title %}
{{ parent() }} : Retrouvez le classement des vidéos clips
{% endblock %}

{% block meta_description %}
    <meta name="Description" content="Mimizik te propose toute le classement des vidéos clips"/> 
{% endblock %}



{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        .up-icon {
            background:url(http://mimizik/images/up.png) 0 0 no-repeat;
            width:32px;
            height:32px;
        }
        .add-icon {
            background:url(http://mimizik/images/add.png) 0 0 no-repeat;
            width:32px;
            height:32px;
        }
        .forward-icon {
            background:url(http://mimizik/images/forward.png) 0 0 no-repeat;
            width:32px;
            height:32px;
        }
        .down-icon {
            background:url(http://mimizik/images/down.png) 0 0 no-repeat;
            width:32px;
            height:32px;
        }
        .ranking .post
        {
            border-bottom: 1px solid #ebebeb;
            margin: 0 0 1.5em -20px;
            overflow: hidden;
            padding: 0 0 1.5em 0;
            width: 80%;
        }
        .ranking .position
        {
            font-size: 2em;
            margin-right: 5px;
            width:30px;
        }
    </style> 
{% endblock %}

{% block body %}
    {{ parent() }}
    
    <div class="page-title wrapper">
        <div class="container">
            <span>Classement du {{ranking.dateRanking|date('m/y')}}</span>
            <div class="clear"></div>
        </div>
    </div>
    <div class="content wrapper ranking">
        <div class="container">
            <div class="two-third column">
                
                <div class="content-block">
                    <div class="block-title"><span>Vidéos</span></div>
                    <div class="block-content">
                        <div class="featured-blog">
                        {% for video in videos %}
                            <div class="floatleft">
                                {% for videoRanking in video.videoRankings %}
                                    <div class="floatleft position">{{videoRanking.position}}</div>
                                    {% if videoRanking.icon is not null %}
                                        <div class="{{videoRanking.icon}}-icon floatleft"></div>
                                    {%endif%}    
                                {% endfor %}                                                         
                            </div>
                            {% include "SpicySiteBundle:Video:_video_ranking.html.twig" %} 
                        {%else%}
                            <p>Pas de vidéos de cette artiste</p>
                        {% endfor %}
                            <div id="Pagination" ></div>
                        </div>
                    </div>
                </div>
                <div>
                    <div id="banstex468x60">
                        {#% include "SpicySiteBundle:Ads:468x60_banstex.html.twig" %#}
                    </div>  
                </div>
            </div>
            <div class="one-third column last">
                <div class="content-block">
                    <div class="block-content" id="encart_droit">
                        {% include "SpicySiteBundle:Ads:encart_droit_adsense.html.twig" %}
                    </div>
                </div>
                <div class="content-block">
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}
