{% extends "SpicySiteBundle::layout.html.twig" %}

{% block title %}
    Paroles du titre {{video.titre}} avec {{video.getNomArtistes}} - Mimizik
{% endblock %}

{% block meta_description %}
    <meta name="Description" content="{{lyrics.paragraphs[0].contentOriginal|nl2br| truncate(80, true, '...')}} Paroles {{video.getNomArtistes}} - {{video.titre}} Lyrics Mimizik"/> 
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite,?yui_css' output='css/compiled/lyrics/show.css'
        'css/select2.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="page-title wrapper">
        <div class="container">
            <span>Paroles du titre <a href="{{path('spicy_site_video',{'id':video.id})}}">{{video.titre}}</a> avec {{video.getNomArtistes}}</span>
            <div class="clear"></div>
        </div>
    </div>
    <div class="content wrapper " id="lyrics-content">
        <div class="container">
            <div class="two-third column">
                <div class="lyrics-block content-block" >
                    <div class="block-title"><span>Paroles</span></div>
                    <div class="block-content">
                        <a class="button large" id="btn_print_lyrics">
                            <span>Imprimer les paroles</span>
                        </a>
                        <div id="lyrics_content" > 
                            {% for paragraph in lyrics.paragraphs%}
                                <p class="red_type">({{paragraph|paragraphType|upper}})</p>
                                <p class="song-text">{{paragraph.contentOriginal|nl2br}}</p>
                            {%endfor%}
                        </div>
                    </div>
                </div>
            </div>
                    
            <div class="one-third column last">
                {#<div class="content-block">
                    {% include "SpicySiteBundle:Site:video_post_slider.html.twig" with {'lavideo': video} %}
                </div>#}
                <div class="content-block">
                    <div class="block-title"><span>Suggestions</span></div>
                    <div class="block-content">
                        <div class="fade-slider">
                            <ul>
                                {% for videoSug in suggestions %}
                                    {% include "SpicySiteBundle:Site:video_post_slider.html.twig" with {'video': videoSug} %}
                                {% endfor %}
                            </ul>
                            <div class="arrow arrow-left"></div>
                            <div class="arrow arrow-right"></div>
                            <input type="hidden" class="slider-pause" value="1" />
                            <input type="hidden" class="slider-speed" value="6000" />
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="content-block">
                    <div class="block-content" id="encart_droit">
                        {% include "SpicySiteBundle:Ads:encart_droite_verticale_adsense.html.twig" %}
                    </div>
                </div>
                <div class="content-block">
                    <div class="block-content selectArtistes">
                        {{ render(controller('SpicySiteBundle:Site:selectArtistes')) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}    
    {{parent()}}
    <script type="text/javascript" src="{{asset('js/select2.min.js')}}" ></script>
    {% include "SpicySiteBundle:Site:Artiste\\_search.js.twig" %}
    <script type="text/javascript">
        $(document).ready(function(){
            
            $( "#btn_print_lyrics" ).click(function() {
                var divToPrint=document.getElementById('lyrics_content');
                var newWin=window.open('','Print-Window');
                newWin.document.open();
                newWin.document.write('<html><body onload="window.print()">'+divToPrint.innerHTML+'</body></html>');
                newWin.document.close();
            });
        });
    </script>
{% endblock %}
