{% extends "::layout2.html.twig" %}

{% block title %}
 {{ parent() }}
{% endblock %}
  
{% block stylesheets %}
    {% stylesheets filter='cssrewrite,?yui_css' output='css/compiled/main_admin.css'
        'css/style.css'
        'css/style2.css'
        'css/reveal.css'
        'css/select2.css'
        'css/pagination.css'
        '@SpicySiteBundle/Resources/public/css/admin.css'%}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    
    {# On affiche tous les messages flash dont le nom est « info » #}
      {% for message in app.session.flashbag.get('info') %}
        <p>{{ message }}</p>
      {% endfor %}
        
       
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{asset('js/jquery-2.1.1.min.js')}}" ></script>
    <script type="text/javascript" src="{{asset('js/jquery.pagination.js')}}" ></script>
    <script type="text/javascript" src="{{asset('js/jquery.reveal.js')}}" ></script>
    <script type="text/javascript" src="{{asset('js/select2.min.js')}}" ></script>
    <script type="text/javascript" src="{{asset('js/jquery.reveal.js')}}" ></script>
{% endblock %}